<div id="wiki-page-content" style="min-height: 364px;">
					<h1>WITS Table 13 (Chromatograph Gasses, Depth based)</h1>
					<div class="article-content"><table border="5">
	<tbody>
		<tr>
			<th align="CENTER">
				Item</th>
			<th align="">
				Description</th>
			<th align="">
				Long Mnemonic</th>
			<th align="">
				Short Mnemonic</th>
			<th align="">
				Type</th>
			<th align="">
				Length</th>
			<th align="">
				Metric Units</th>
			<th align="">
				FPS Units</th>
		</tr>
		<tr>
			<td>
				1</td>
			<td>
				Well Identifier</td>
			<td>
				WELLID</td>
			<td>
				WID</td>
			<td>
				A</td>
			<td>
				16</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				2</td>
			<td>
				Sidetrack/Hole Sect No.</td>
			<td>
				STKNUM</td>
			<td>
				SKNO</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				3</td>
			<td>
				Record Identifier</td>
			<td>
				RECID</td>
			<td>
				RID</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				4</td>
			<td>
				Sequence Identifier</td>
			<td>
				SEQID</td>
			<td>
				SQID</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				5</td>
			<td>
				Date</td>
			<td>
				DATE</td>
			<td>
				DATE</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				6</td>
			<td>
				Time</td>
			<td>
				TIME</td>
			<td>
				TIME</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				7</td>
			<td>
				Activity Code</td>
			<td>
				ACTCOD</td>
			<td>
				ACTC</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				8</td>
			<td>
				Depth Returns (meas)</td>
			<td>
				DEPTRETM</td>
			<td>
				DRTM</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				9</td>
			<td>
				Depth Returns (vert)</td>
			<td>
				DEPTRETV</td>
			<td>
				DRTV</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				10</td>
			<td>
				Methane (C1) (avg)</td>
			<td>
				METHA</td>
			<td>
				MTHA</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				PPM</td>
			<td>
				PPM</td>
		</tr>
		<tr>
			<td>
				11</td>
			<td>
				Methane (C1) (min)</td>
			<td>
				METHN</td>
			<td>
				MTHN</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				PPM</td>
			<td>
				PPM</td>
		</tr>
		<tr>
			<td>
				12</td>
			<td>
				Methane (C1) (max)</td>
			<td>
				METHX</td>
			<td>
				MTHX</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				PPM</td>
			<td>
				PPM</td>
		</tr>
		<tr>
			<td>
				13</td>
			<td>
				Ethane (C2) (avg)</td>
			<td>
				ETHA</td>
			<td>
				ETHA</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				PPM</td>
			<td>
				PPM</td>
		</tr>
		<tr>
			<td>
				14</td>
			<td>
				Ethane (C2) (min)</td>
			<td>
				ETHN</td>
			<td>
				ETHN</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				PPM</td>
			<td>
				PPM</td>
		</tr>
		<tr>
			<td>
				15</td>
			<td>
				Ethane (C2) (max)</td>
			<td>
				ETHX</td>
			<td>
				ETHX</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				PPM</td>
			<td>
				PPM</td>
		</tr>
		<tr>
			<td>
				16</td>
			<td>
				Propane (C3) (avg)</td>
			<td>
				PROPA</td>
			<td>
				PRPA</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				PPM</td>
			<td>
				PPM</td>
		</tr>
		<tr>
			<td>
				17</td>
			<td>
				Propane (C3) (min)</td>
			<td>
				PROPN</td>
			<td>
				PRPN</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				PPM</td>
			<td>
				PPM</td>
		</tr>
		<tr>
			<td>
				18</td>
			<td>
				Propane (C3) (max)</td>
			<td>
				PROPX</td>
			<td>
				PRPX</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				PPM</td>
			<td>
				PPM</td>
		</tr>
		<tr>
			<td>
				19</td>
			<td>
				Iso-Butane (IC4) (avg)</td>
			<td>
				IBUTA</td>
			<td>
				IBTA</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				PPM</td>
			<td>
				PPM</td>
		</tr>
		<tr>
			<td>
				20</td>
			<td>
				Iso-Butane (IC4) (min)</td>
			<td>
				IBUTN</td>
			<td>
				IBTN</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				PPM</td>
			<td>
				PPM</td>
		</tr>
		<tr>
			<td>
				21</td>
			<td>
				Iso-Butane (IC4) (max)</td>
			<td>
				IBUTX</td>
			<td>
				IBTX</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				PPM</td>
			<td>
				PPM</td>
		</tr>
		<tr>
			<td>
				22</td>
			<td>
				Nor-Butane (NC4) (avg)</td>
			<td>
				NBUTA</td>
			<td>
				NBTA</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				PPM</td>
			<td>
				PPM</td>
		</tr>
		<tr>
			<td>
				23</td>
			<td>
				Nor-Butane (NC4) (min)</td>
			<td>
				NBUTN</td>
			<td>
				NBTN</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				PPM</td>
			<td>
				PPM</td>
		</tr>
		<tr>
			<td>
				24</td>
			<td>
				Nor-Butane (NC4) (max)</td>
			<td>
				NBUTX</td>
			<td>
				NBTX</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				PPM</td>
			<td>
				PPM</td>
		</tr>
		<tr>
			<td>
				25</td>
			<td>
				Iso-Pentane (IC5) (avg)</td>
			<td>
				IPENTA</td>
			<td>
				IPNA</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				PPM</td>
			<td>
				PPM</td>
		</tr>
		<tr>
			<td>
				26</td>
			<td>
				Iso-Pentane (IC5) (min)</td>
			<td>
				IPENTN</td>
			<td>
				IPNN</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				PPM</td>
			<td>
				PPM</td>
		</tr>
		<tr>
			<td>
				27</td>
			<td>
				Iso-Pentane (IC5) (max)</td>
			<td>
				IPENTX</td>
			<td>
				IPNX</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				PPM</td>
			<td>
				PPM</td>
		</tr>
		<tr>
			<td>
				28</td>
			<td>
				Nor-Pentane (NC5) (avg)</td>
			<td>
				NPENTA</td>
			<td>
				NPNA</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				PPM</td>
			<td>
				PPM</td>
		</tr>
		<tr>
			<td>
				29</td>
			<td>
				Nor-Pentane (NC5) (min)</td>
			<td>
				NPENTN</td>
			<td>
				NPNN</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				PPM</td>
			<td>
				PPM</td>
		</tr>
		<tr>
			<td>
				30</td>
			<td>
				Nor-Pentane (NC5) (max)</td>
			<td>
				NPENTX</td>
			<td>
				NPNX</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				PPM</td>
			<td>
				PPM</td>
		</tr>
		<tr>
			<td>
				31</td>
			<td>
				Neo-Pentane (EC5) (avg)</td>
			<td>
				EPENTA</td>
			<td>
				EPNA</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				PPM</td>
			<td>
				PPM</td>
		</tr>
		<tr>
			<td>
				32</td>
			<td>
				Neo-Pentane (EC5) (min)</td>
			<td>
				EPENTN</td>
			<td>
				EPNN</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				PPM</td>
			<td>
				PPM</td>
		</tr>
		<tr>
			<td>
				33</td>
			<td>
				Neo-Pentane (EC5) (max)</td>
			<td>
				EPENTX</td>
			<td>
				EPNX</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				PPM</td>
			<td>
				PPM</td>
		</tr>
		<tr>
			<td>
				34</td>
			<td>
				Iso-Hexane (IC6) (avg)</td>
			<td>
				IHEXA</td>
			<td>
				IHXA</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				PPM</td>
			<td>
				PPM</td>
		</tr>
		<tr>
			<td>
				35</td>
			<td>
				Iso-Hexane (IC6) (min)</td>
			<td>
				IHEXN</td>
			<td>
				IHXN</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				PPM</td>
			<td>
				PPM</td>
		</tr>
		<tr>
			<td>
				36</td>
			<td>
				Iso-Hexane (IC6) (max)</td>
			<td>
				IHEXX</td>
			<td>
				IHXX</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				PPM</td>
			<td>
				PPM</td>
		</tr>
		<tr>
			<td>
				37</td>
			<td>
				Nor-Hexane (NC6) (avg)</td>
			<td>
				NHEXA</td>
			<td>
				NHXA</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				PPM</td>
			<td>
				PPM</td>
		</tr>
		<tr>
			<td>
				38</td>
			<td>
				Nor-Hexane (NC6) (min)</td>
			<td>
				NHEXN</td>
			<td>
				NHXN</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				PPM</td>
			<td>
				PPM</td>
		</tr>
		<tr>
			<td>
				39</td>
			<td>
				Nor-Hexane (NC6) (max)</td>
			<td>
				NHEXX</td>
			<td>
				NHXX</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				PPM</td>
			<td>
				PPM</td>
		</tr>
		<tr>
			<td>
				40</td>
			<td>
				Carbon Dioxide (avg)</td>
			<td>
				CO2A</td>
			<td>
				CO2A</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				PPM</td>
			<td>
				PPM</td>
		</tr>
		<tr>
			<td>
				41</td>
			<td>
				Carbon Dioxide (min)</td>
			<td>
				CO2N</td>
			<td>
				CO2N</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				PPM</td>
			<td>
				PPM</td>
		</tr>
		<tr>
			<td>
				42</td>
			<td>
				Carbon Dioxide (max)</td>
			<td>
				CO2X</td>
			<td>
				CO2X</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				PPM</td>
			<td>
				PPM</td>
		</tr>
		<tr>
			<td>
				43</td>
			<td>
				Acetylene</td>
			<td>
				ACET</td>
			<td>
				ACET</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				PPM</td>
			<td>
				PPM</td>
		</tr>
		<tr>
			<td>
				44</td>
			<td>
				&lt; SPARE 1 &gt;</td>
			<td>
				SPARE1</td>
			<td>
				SPR1</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				45</td>
			<td>
				&lt; SPARE 2 &gt;</td>
			<td>
				SPARE2</td>
			<td>
				SPR2</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				46</td>
			<td>
				&lt; SPARE 3 &gt;</td>
			<td>
				SPARE3</td>
			<td>
				SPR3</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				47</td>
			<td>
				&lt; SPARE 4 &gt;</td>
			<td>
				SPARE4</td>
			<td>
				SPR4</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				48</td>
			<td>
				&lt; SPARE 5 &gt;</td>
			<td>
				SPARE5</td>
			<td>
				SPR5</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				---</td>
			<td>
				----</td>
		</tr>
	</tbody>
</table>
<p>
	&nbsp;</p>
</div>
					<div style="clear: both; line-height:0px; font-size: 0px;">&nbsp;</div>
				</div>