<div id="wiki-page-content" style="min-height: 364px;">
					<h1>WITS Table 12 (Chromatograph Gasses, Cycle based)</h1>
					<div class="article-content"><table border="5">
	<tbody>
		<tr>
			<th align="CENTER">
				Item</th>
			<th align="">
				Description</th>
			<th align="">
				Long Mnemonic</th>
			<th align="">
				Short Mnemonic</th>
			<th align="">
				Type</th>
			<th align="">
				Length</th>
			<th align="">
				Metric Units</th>
			<th align="">
				FPS Units</th>
		</tr>
		<tr>
			<td>
				1</td>
			<td>
				Well Identifier</td>
			<td>
				WELLID</td>
			<td>
				WID</td>
			<td>
				A</td>
			<td>
				16</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				2</td>
			<td>
				Sidetrack/Hole Sect No.</td>
			<td>
				STKNUM</td>
			<td>
				SKNO</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				3</td>
			<td>
				Record Identifier</td>
			<td>
				RECID</td>
			<td>
				RID</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				4</td>
			<td>
				Sequence Identifier</td>
			<td>
				SEQID</td>
			<td>
				SQID</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				5</td>
			<td>
				Date</td>
			<td>
				DATE</td>
			<td>
				DATE</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				6</td>
			<td>
				Time</td>
			<td>
				TIME</td>
			<td>
				TIME</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				7</td>
			<td>
				Activity Code</td>
			<td>
				ACTCOD</td>
			<td>
				ACTC</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				8</td>
			<td>
				Show Number</td>
			<td>
				SHOWNUM</td>
			<td>
				SWNO</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				9</td>
			<td>
				Show Intvl Top Depth (meas)</td>
			<td>
				DEPTSITM</td>
			<td>
				DSTM</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				10</td>
			<td>
				Show Intvl Top Depth (vert)</td>
			<td>
				DEPTSITV</td>
			<td>
				DSTV</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				11</td>
			<td>
				Show Intvl Bott Depth(meas)</td>
			<td>
				DEPTSIBM</td>
			<td>
				DSBM</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				12</td>
			<td>
				Show Intvl Bott Depth(vert)</td>
			<td>
				DEPTSIBV</td>
			<td>
				DSBV</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				13</td>
			<td>
				Show Lith type</td>
			<td>
				SHLTYPE</td>
			<td>
				WLTY</td>
			<td>
				A</td>
			<td>
				16</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				14</td>
			<td>
				Show Lith classification</td>
			<td>
				SHLCLASS</td>
			<td>
				WLCL</td>
			<td>
				A</td>
			<td>
				16</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				15</td>
			<td>
				Show Lith color</td>
			<td>
				SHLCOLOR</td>
			<td>
				WLCO</td>
			<td>
				A</td>
			<td>
				16</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				16</td>
			<td>
				Show Lith texture</td>
			<td>
				SHLTEXT</td>
			<td>
				WLTX</td>
			<td>
				A</td>
			<td>
				16</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				17</td>
			<td>
				Show Lith hardness</td>
			<td>
				SHLHARD</td>
			<td>
				WLHD</td>
			<td>
				A</td>
			<td>
				16</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				18</td>
			<td>
				Show Lith grain size</td>
			<td>
				SHLSIZE</td>
			<td>
				WLSZ</td>
			<td>
				A</td>
			<td>
				16</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				19</td>
			<td>
				Show Lith roundness</td>
			<td>
				SHLROUND</td>
			<td>
				WLRD</td>
			<td>
				A</td>
			<td>
				16</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				20</td>
			<td>
				Show Lith sorting</td>
			<td>
				SHLSORT</td>
			<td>
				WLSO</td>
			<td>
				A</td>
			<td>
				16</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				21</td>
			<td>
				Show Lith matrix/cement</td>
			<td>
				SHLMC</td>
			<td>
				WLMC</td>
			<td>
				A</td>
			<td>
				16</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				22</td>
			<td>
				Show Lith accessories</td>
			<td>
				SHLACC</td>
			<td>
				WLAC</td>
			<td>
				A</td>
			<td>
				16</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				23</td>
			<td>
				Show Lith porosity -visible</td>
			<td>
				SHLPORV</td>
			<td>
				WLPV</td>
			<td>
				A</td>
			<td>
				16</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				24</td>
			<td>
				Show Lith porosity -meas</td>
			<td>
				SHLPORM</td>
			<td>
				WLPM</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				%</td>
			<td>
				%</td>
		</tr>
		<tr>
			<td>
				25</td>
			<td>
				Show Lith permeability</td>
			<td>
				SHLPERM</td>
			<td>
				WLPE</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				MD</td>
			<td>
				MD</td>
		</tr>
		<tr>
			<td>
				26</td>
			<td>
				Show Lith stain description</td>
			<td>
				SHLSTAIN</td>
			<td>
				WLST</td>
			<td>
				A</td>
			<td>
				64</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				27</td>
			<td>
				Show Lith fluor description</td>
			<td>
				SHLFLUOR</td>
			<td>
				WLFL</td>
			<td>
				A</td>
			<td>
				64</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				28</td>
			<td>
				Show Lith cut description</td>
			<td>
				SHLCUT</td>
			<td>
				WLCT</td>
			<td>
				A</td>
			<td>
				64</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				29</td>
			<td>
				Show Lith cuttings gas</td>
			<td>
				SHLGCUT</td>
			<td>
				WLGC</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				%</td>
			<td>
				%</td>
		</tr>
		<tr>
			<td>
				30</td>
			<td>
				Show titrated salinity</td>
			<td>
				SHSAL</td>
			<td>
				WSAL</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				PPM</td>
			<td>
				PPM</td>
		</tr>
		<tr>
			<td>
				31</td>
			<td>
				Show Mud Smple Methane</td>
			<td>
				METHMUD</td>
			<td>
				MTHM</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				PPM</td>
			<td>
				PPM</td>
		</tr>
		<tr>
			<td>
				32</td>
			<td>
				Show Mud Smple Ethane</td>
			<td>
				ETHMUD</td>
			<td>
				ETHM</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				PPM</td>
			<td>
				PPM</td>
		</tr>
		<tr>
			<td>
				33</td>
			<td>
				Show Mud Smple Propane</td>
			<td>
				PROPMUD</td>
			<td>
				PRPM</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				PPM</td>
			<td>
				PPM</td>
		</tr>
		<tr>
			<td>
				34</td>
			<td>
				Show Mud Smple I-Butane</td>
			<td>
				IBUTMUD</td>
			<td>
				IBTM</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				PPM</td>
			<td>
				PPM</td>
		</tr>
		<tr>
			<td>
				35</td>
			<td>
				Show Mud Smple N-Butane</td>
			<td>
				NBUTMUD</td>
			<td>
				NBTM</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				PPM</td>
			<td>
				PPM</td>
		</tr>
		<tr>
			<td>
				36</td>
			<td>
				Show Mud Smple I-Pentane</td>
			<td>
				IPENMUD</td>
			<td>
				IPNM</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				PPM</td>
			<td>
				PPM</td>
		</tr>
		<tr>
			<td>
				37</td>
			<td>
				Show Mud Smple N-Pentane</td>
			<td>
				NPENMUD</td>
			<td>
				NPNM</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				PPM</td>
			<td>
				PPM</td>
		</tr>
		<tr>
			<td>
				38</td>
			<td>
				Show Mud Smple N-Pentane</td>
			<td>
				EPENMUD</td>
			<td>
				EPNM</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				PPM</td>
			<td>
				PPM</td>
		</tr>
		<tr>
			<td>
				39</td>
			<td>
				Show Mud Smple I-Hexane</td>
			<td>
				IHEXMUD</td>
			<td>
				IHXM</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				PPM</td>
			<td>
				PPM</td>
		</tr>
		<tr>
			<td>
				40</td>
			<td>
				Show Mud Smple N-Hexane</td>
			<td>
				NHEXMUD</td>
			<td>
				NHXM</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				PPM</td>
			<td>
				PPM</td>
		</tr>
		<tr>
			<td>
				41</td>
			<td>
				Show Comments</td>
			<td>
				SHOWCOMM</td>
			<td>
				WCOM</td>
			<td>
				A</td>
			<td>
				128</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				42</td>
			<td>
				&lt; SPARE 1 &gt;</td>
			<td>
				SPARE1</td>
			<td>
				SPR1</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				43</td>
			<td>
				&lt; SPARE 2 &gt;</td>
			<td>
				SPARE2</td>
			<td>
				SPR2</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				44</td>
			<td>
				&lt; SPARE 3 &gt;</td>
			<td>
				SPARE3</td>
			<td>
				SPR3</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				45</td>
			<td>
				&lt; SPARE 4 &gt;</td>
			<td>
				SPARE4</td>
			<td>
				SPR4</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				46</td>
			<td>
				&lt; SPARE 5 &gt;</td>
			<td>
				SPARE5</td>
			<td>
				SPR5</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				---</td>
			<td>
				----</td>
		</tr>
	</tbody>
</table>
<p>
	&nbsp;</p>
</div>
					<div style="clear: both; line-height:0px; font-size: 0px;">&nbsp;</div>
				</div>