<div id="wiki-page-content" style="min-height: 364px;">
					<h1>WITS Table 15 (Cuttings &amp; Lithology)</h1>
					<div class="article-content"><table border="5">
	<tbody>
		<tr>
			<th align="CENTER">
				Item</th>
			<th align="">
				Description</th>
			<th align="">
				Long Mnemonic</th>
			<th align="">
				Short Mnemonic</th>
			<th align="">
				Type</th>
			<th align="">
				Length</th>
			<th align="">
				Metric Units</th>
			<th align="">
				FPS Units</th>
		</tr>
		<tr>
			<td>
				1</td>
			<td>
				Well Identifier</td>
			<td>
				WELLID</td>
			<td>
				WID</td>
			<td>
				A</td>
			<td>
				16</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				2</td>
			<td>
				Sidetrack/Hole Sect No.</td>
			<td>
				STKNUM</td>
			<td>
				SKNO</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				3</td>
			<td>
				Record Identifier</td>
			<td>
				RECID</td>
			<td>
				RID</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				4</td>
			<td>
				Sequence Identifier</td>
			<td>
				SEQID</td>
			<td>
				SQID</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				5</td>
			<td>
				Date</td>
			<td>
				DATE</td>
			<td>
				DATE</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				6</td>
			<td>
				Time</td>
			<td>
				TIME</td>
			<td>
				TIME</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				7</td>
			<td>
				Activity Code</td>
			<td>
				ACTCOD</td>
			<td>
				ACTC</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				8</td>
			<td>
				Depth Sample (meas)</td>
			<td>
				DEPTSAMM</td>
			<td>
				DSAM</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				9</td>
			<td>
				Depth Sample (vert)</td>
			<td>
				DEPTSAMV</td>
			<td>
				DSAV</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				10</td>
			<td>
				Description type</td>
			<td>
				DESCTYPE</td>
			<td>
				DESC</td>
			<td>
				A</td>
			<td>
				8</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				11</td>
			<td>
				Lith 1 type</td>
			<td>
				L1TYPE</td>
			<td>
				L1TY</td>
			<td>
				A</td>
			<td>
				16</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				12</td>
			<td>
				Lith 1 %</td>
			<td>
				L1PERC</td>
			<td>
				L1PC</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				%</td>
			<td>
				%</td>
		</tr>
		<tr>
			<td>
				13</td>
			<td>
				Lith 1 classification</td>
			<td>
				L1CLASS</td>
			<td>
				L1CL</td>
			<td>
				A</td>
			<td>
				16</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				14</td>
			<td>
				Lith 1 color</td>
			<td>
				L1COLOR</td>
			<td>
				L1CO</td>
			<td>
				A</td>
			<td>
				16</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				15</td>
			<td>
				Lith 1 texture</td>
			<td>
				L1TEXT</td>
			<td>
				L1TX</td>
			<td>
				A</td>
			<td>
				16</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				16</td>
			<td>
				Lith 1 hardness</td>
			<td>
				L1HARD</td>
			<td>
				L1HD</td>
			<td>
				A</td>
			<td>
				16</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				17</td>
			<td>
				Lith 1 grain size</td>
			<td>
				L1SIZE</td>
			<td>
				L1SZ</td>
			<td>
				A</td>
			<td>
				16</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				18</td>
			<td>
				Lith 1 roundness</td>
			<td>
				L1ROUND</td>
			<td>
				L1RD</td>
			<td>
				A</td>
			<td>
				16</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				19</td>
			<td>
				Lith 1 sorting</td>
			<td>
				L1SORT</td>
			<td>
				L1SO</td>
			<td>
				A</td>
			<td>
				16</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				20</td>
			<td>
				Lith 1 matrix/cement</td>
			<td>
				L1MATCEM</td>
			<td>
				L1MC</td>
			<td>
				A</td>
			<td>
				16</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				21</td>
			<td>
				Lith 1 accessories</td>
			<td>
				L1ACC</td>
			<td>
				L1AC</td>
			<td>
				A</td>
			<td>
				16</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				22</td>
			<td>
				Lith 1 porosity</td>
			<td>
				L1POR</td>
			<td>
				L1PO</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				%</td>
			<td>
				%</td>
		</tr>
		<tr>
			<td>
				23</td>
			<td>
				Lith 1 permeability</td>
			<td>
				L1PERM</td>
			<td>
				L1PE</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				MD</td>
			<td>
				MD</td>
		</tr>
		<tr>
			<td>
				24</td>
			<td>
				Lith 2 type</td>
			<td>
				L2TYPE</td>
			<td>
				L2TY</td>
			<td>
				A</td>
			<td>
				16</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				25</td>
			<td>
				Lith 2 %</td>
			<td>
				L2PERC</td>
			<td>
				L2PC</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				%</td>
			<td>
				%</td>
		</tr>
		<tr>
			<td>
				26</td>
			<td>
				Lith 2 classification</td>
			<td>
				L2CLASS</td>
			<td>
				L2CL</td>
			<td>
				A</td>
			<td>
				16</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				27</td>
			<td>
				Lith 2 color</td>
			<td>
				L2COLOR</td>
			<td>
				L2CO</td>
			<td>
				A</td>
			<td>
				16</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				28</td>
			<td>
				Lith 2 texture</td>
			<td>
				L2TEXT</td>
			<td>
				L2TX</td>
			<td>
				A</td>
			<td>
				16</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				29</td>
			<td>
				Lith 2 hardness</td>
			<td>
				L2HARD</td>
			<td>
				L2HD</td>
			<td>
				A</td>
			<td>
				16</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				30</td>
			<td>
				Lith 2 grain size</td>
			<td>
				L2SIZE</td>
			<td>
				L2SZ</td>
			<td>
				A</td>
			<td>
				16</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				31</td>
			<td>
				Lith 2 roundness</td>
			<td>
				L2ROUND</td>
			<td>
				L2RD</td>
			<td>
				A</td>
			<td>
				16</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				32</td>
			<td>
				Lith 2 sorting</td>
			<td>
				L2SORT</td>
			<td>
				L2SO</td>
			<td>
				A</td>
			<td>
				16</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				33</td>
			<td>
				Lith 2 matrix/cement</td>
			<td>
				L2MATCEM</td>
			<td>
				L2MC</td>
			<td>
				A</td>
			<td>
				16</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				34</td>
			<td>
				Lith 2 accessories</td>
			<td>
				L2ACC</td>
			<td>
				L2AC</td>
			<td>
				A</td>
			<td>
				16</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				35</td>
			<td>
				Lith 2 porosity</td>
			<td>
				L2POR</td>
			<td>
				L2PO</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				%</td>
			<td>
				%</td>
		</tr>
		<tr>
			<td>
				36</td>
			<td>
				Lith 2 permeability</td>
			<td>
				L2PERM</td>
			<td>
				L2PE</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				MD</td>
			<td>
				MD</td>
		</tr>
		<tr>
			<td>
				37</td>
			<td>
				Lith 3 type</td>
			<td>
				L3TYPE</td>
			<td>
				L3TY</td>
			<td>
				A</td>
			<td>
				16</td>
			<td>
				---- -</td>
			<td>
				---</td>
		</tr>
		<tr>
			<td>
				38</td>
			<td>
				Lith 3 %</td>
			<td>
				L3PERC</td>
			<td>
				L3PC</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				%</td>
			<td>
				%</td>
		</tr>
		<tr>
			<td>
				39</td>
			<td>
				Lith 3 classification</td>
			<td>
				L3CLASS</td>
			<td>
				L3CL</td>
			<td>
				A</td>
			<td>
				16</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				40</td>
			<td>
				Lith 4 type</td>
			<td>
				L4TYPE</td>
			<td>
				L4TY</td>
			<td>
				A</td>
			<td>
				16</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				41</td>
			<td>
				Lith 4 %</td>
			<td>
				L4PERC</td>
			<td>
				L4PC</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				%</td>
			<td>
				%</td>
		</tr>
		<tr>
			<td>
				42</td>
			<td>
				Lith 4 classification</td>
			<td>
				L4CLASS</td>
			<td>
				L4CL</td>
			<td>
				A</td>
			<td>
				16</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				43</td>
			<td>
				Lith 5 type</td>
			<td>
				L5TYPE</td>
			<td>
				L5TY</td>
			<td>
				A</td>
			<td>
				16</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				44</td>
			<td>
				Lith 5 %</td>
			<td>
				L5PERC</td>
			<td>
				L5PC</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				%</td>
			<td>
				%</td>
		</tr>
		<tr>
			<td>
				45</td>
			<td>
				Lith 5 classification</td>
			<td>
				L5CLASS</td>
			<td>
				L5CL</td>
			<td>
				A</td>
			<td>
				16</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				46</td>
			<td>
				Fossils</td>
			<td>
				FOSS</td>
			<td>
				FOSS</td>
			<td>
				A</td>
			<td>
				16</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				47</td>
			<td>
				Composite Show</td>
			<td>
				COMPSHOW</td>
			<td>
				SHOW</td>
			<td>
				A</td>
			<td>
				16</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				48</td>
			<td>
				Bulk Density</td>
			<td>
				BULKDEN</td>
			<td>
				BDEN</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				G/CC</td>
			<td>
				G/CC</td>
		</tr>
		<tr>
			<td>
				49</td>
			<td>
				Cuttings Gas</td>
			<td>
				GASCUTT</td>
			<td>
				GCUT</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				%</td>
			<td>
				%</td>
		</tr>
		<tr>
			<td>
				50</td>
			<td>
				Calcimetry Calcite %</td>
			<td>
				CCAL</td>
			<td>
				CCAL</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				%</td>
			<td>
				%</td>
		</tr>
		<tr>
			<td>
				51</td>
			<td>
				Calcimetry Dolomite %</td>
			<td>
				CDOL</td>
			<td>
				CDOL</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				%</td>
			<td>
				%</td>
		</tr>
		<tr>
			<td>
				52</td>
			<td>
				Cuttings CEC</td>
			<td>
				CEC</td>
			<td>
				CEC</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				MEHG</td>
			<td>
				MEHG</td>
		</tr>
		<tr>
			<td>
				53</td>
			<td>
				Cavings %</td>
			<td>
				CAVINGS</td>
			<td>
				CAV</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				%</td>
			<td>
				%</td>
		</tr>
		<tr>
			<td>
				54</td>
			<td>
				Shale Density</td>
			<td>
				SHALEDEN</td>
			<td>
				SDEN</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				G/CC</td>
			<td>
				G/CC</td>
		</tr>
		<tr>
			<td>
				55</td>
			<td>
				&lt; SPARE 1 &gt;</td>
			<td>
				SPARE1</td>
			<td>
				SPR1</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				56</td>
			<td>
				&lt; SPARE 2 &gt;</td>
			<td>
				SPARE2</td>
			<td>
				SPR2</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				57</td>
			<td>
				&lt; SPARE 3 &gt;</td>
			<td>
				SPARE3</td>
			<td>
				SPR3</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				58</td>
			<td>
				&lt; SPARE 4 &gt;</td>
			<td>
				SPARE4</td>
			<td>
				SPR4</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				59</td>
			<td>
				&lt; SPARE 5 &gt;</td>
			<td>
				SPARE5</td>
			<td>
				SPR5</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				---</td>
			<td>
				----</td>
		</tr>
	</tbody>
</table>
<p>
	&nbsp;</p>
</div>
					<div style="clear: both; line-height:0px; font-size: 0px;">&nbsp;</div>
				</div>