<div id="wiki-page-content" style="min-height: 364px;">
					<h1>WITS Table 17 (Cementing)</h1>
					<div class="article-content"><table border="5">
	<tbody>
		<tr>
			<th align="CENTER">
				Item</th>
			<th align="">
				Description</th>
			<th align="">
				Long Mnemonic</th>
			<th align="">
				Short Mnemonic</th>
			<th align="">
				Type</th>
			<th align="">
				Length</th>
			<th align="">
				Metric Units</th>
			<th align="">
				FPS Units</th>
		</tr>
		<tr>
			<td>
				1</td>
			<td>
				Well Identifier</td>
			<td>
				WELLID</td>
			<td>
				WID</td>
			<td>
				A</td>
			<td>
				16</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				2</td>
			<td>
				Sidetrack/Hole Sect No.</td>
			<td>
				STKNUM</td>
			<td>
				SKNO</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				3</td>
			<td>
				Record Identifier</td>
			<td>
				RECID</td>
			<td>
				RID</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				4</td>
			<td>
				Sequence Identifier</td>
			<td>
				SEQID</td>
			<td>
				SQID</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				5</td>
			<td>
				Date</td>
			<td>
				DATE</td>
			<td>
				DATE</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				6</td>
			<td>
				Time</td>
			<td>
				TIME</td>
			<td>
				TIME</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				7</td>
			<td>
				Activity Code</td>
			<td>
				ACTCOD</td>
			<td>
				ACTC</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				8</td>
			<td>
				Depth Hole (meas)</td>
			<td>
				DEPTMEAS</td>
			<td>
				DMEA</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				9</td>
			<td>
				Depth Hole (vert)</td>
			<td>
				DEPTVERT</td>
			<td>
				DVER</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				10</td>
			<td>
				Depth Casing Shoe (meas)</td>
			<td>
				DEPTCSGM</td>
			<td>
				DCGM</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				11</td>
			<td>
				Depth Casing Shoe (vert)</td>
			<td>
				DEPTCSGV</td>
			<td>
				DCGV</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				12</td>
			<td>
				Cem Pump Pressure (avg)</td>
			<td>
				CEMPPA</td>
			<td>
				CPPA</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				KPA</td>
			<td>
				PSI</td>
		</tr>
		<tr>
			<td>
				13</td>
			<td>
				Hookload (avg)</td>
			<td>
				HKLA</td>
			<td>
				HKLA</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				KDN</td>
			<td>
				KLB</td>
		</tr>
		<tr>
			<td>
				14</td>
			<td>
				Block Position</td>
			<td>
				BLKPOS</td>
			<td>
				BPOS</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				15</td>
			<td>
				Cem Flow Rate In (calc)</td>
			<td>
				CEMFIC</td>
			<td>
				CFIC</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M3/M</td>
			<td>
				BPM</td>
		</tr>
		<tr>
			<td>
				16</td>
			<td>
				Cem Flow Rate In (avg)</td>
			<td>
				CEMFIA</td>
			<td>
				CFIA</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M3/M</td>
			<td>
				BPM</td>
		</tr>
		<tr>
			<td>
				17</td>
			<td>
				Cem Flow Rate Out (avg)</td>
			<td>
				CEMFOA</td>
			<td>
				CFOA</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M3/M</td>
			<td>
				BPM</td>
		</tr>
		<tr>
			<td>
				18</td>
			<td>
				Cem Flow Out %</td>
			<td>
				CEMFOP</td>
			<td>
				CFOP</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				%</td>
			<td>
				%</td>
		</tr>
		<tr>
			<td>
				19</td>
			<td>
				Cem Fluid Dens In (avg)</td>
			<td>
				CEMDIA</td>
			<td>
				CDIA</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				KGM3</td>
			<td>
				PPG</td>
		</tr>
		<tr>
			<td>
				20</td>
			<td>
				Cem Fluid Dens Out (avg)</td>
			<td>
				CEMDOA</td>
			<td>
				CDOA</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				KGM3</td>
			<td>
				PPG</td>
		</tr>
		<tr>
			<td>
				21</td>
			<td>
				ECD at Casing Shoe</td>
			<td>
				ECDCSG</td>
			<td>
				ECDC</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				KGM3</td>
			<td>
				PPG</td>
		</tr>
		<tr>
			<td>
				22</td>
			<td>
				Cem Fluid Temp In (avg)</td>
			<td>
				CEMTIA</td>
			<td>
				CTIA</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				DEGC</td>
			<td>
				DEGF</td>
		</tr>
		<tr>
			<td>
				23</td>
			<td>
				Cem Fluid Temp Out (avg)</td>
			<td>
				CEMTOA</td>
			<td>
				CTOA</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				DEGC</td>
			<td>
				DEGF</td>
		</tr>
		<tr>
			<td>
				24</td>
			<td>
				Cem Stage Number</td>
			<td>
				CEMSTAGE</td>
			<td>
				CSTG</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				25</td>
			<td>
				Cem Depth to DV Tool</td>
			<td>
				DEPTDVT</td>
			<td>
				DDVT</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				26</td>
			<td>
				Cem Fluid Type/Batch</td>
			<td>
				CEMFTYPE</td>
			<td>
				CTYP</td>
			<td>
				A</td>
			<td>
				16</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				27</td>
			<td>
				Cem Cumulative Returns</td>
			<td>
				CEMCUMRT</td>
			<td>
				CCRT</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M3</td>
			<td>
				BBL</td>
		</tr>
		<tr>
			<td>
				28</td>
			<td>
				Cem Indiv Vol Pumped</td>
			<td>
				CEMIVOL</td>
			<td>
				CIVL</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M3</td>
			<td>
				BBL</td>
		</tr>
		<tr>
			<td>
				29</td>
			<td>
				Cem Cement Vol Pumped</td>
			<td>
				CEMCVOL</td>
			<td>
				CCVL</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M3</td>
			<td>
				BBL</td>
		</tr>
		<tr>
			<td>
				30</td>
			<td>
				Cem Total Vol Pumped</td>
			<td>
				CEMTVOL</td>
			<td>
				CTVL</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M3</td>
			<td>
				BBL</td>
		</tr>
		<tr>
			<td>
				31</td>
			<td>
				Cem Volume to Bump Plug</td>
			<td>
				CEMBPVOL</td>
			<td>
				CBVL</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M3</td>
			<td>
				BBL</td>
		</tr>
		<tr>
			<td>
				32</td>
			<td>
				Cem No./Status of Plug(s)</td>
			<td>
				CEMPLUGS</td>
			<td>
				CPLG</td>
			<td>
				A</td>
			<td>
				8</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				33</td>
			<td>
				Cem Job Type</td>
			<td>
				CEMJTYP</td>
			<td>
				CJTY</td>
			<td>
				A</td>
			<td>
				16</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				34</td>
			<td>
				&lt; SPARE 1 &gt;</td>
			<td>
				SPARE1</td>
			<td>
				SPR1</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				35</td>
			<td>
				&lt; SPARE 2 &gt;</td>
			<td>
				SPARE2</td>
			<td>
				SPR2</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				36</td>
			<td>
				&lt; SPARE 3 &gt;</td>
			<td>
				SPARE3</td>
			<td>
				SPR3</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				37</td>
			<td>
				&lt; SPARE 4 &gt;</td>
			<td>
				SPARE4</td>
			<td>
				SPR4</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				38</td>
			<td>
				&lt; SPARE 5 &gt;</td>
			<td>
				SPARE5</td>
			<td>
				SPR5</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				---</td>
			<td>
				----</td>
		</tr>
	</tbody>
</table>
<p>
	&nbsp;</p>
</div>
					<div style="clear: both; line-height:0px; font-size: 0px;">&nbsp;</div>
				</div>