<div id="wiki-page-content" style="min-height: 364px;">
					<h1>WITS Table 03 (Drilling Connections)</h1>
					<div class="article-content"><table border="5">
	<tbody>
		<tr>
			<th align="CENTER">
				Item</th>
			<th align="">
				Description</th>
			<th align="">
				Long Mnemonic</th>
			<th align="">
				Short Mnemonic</th>
			<th align="">
				Type</th>
			<th align="">
				Length</th>
			<th align="">
				Metric Units</th>
			<th align="">
				FPS Units</th>
		</tr>
		<tr>
			<td>
				1</td>
			<td>
				Well Identifier</td>
			<td>
				WELLID</td>
			<td>
				WID</td>
			<td>
				A</td>
			<td>
				16</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				2</td>
			<td>
				Sidetrack/Hole Sect No.</td>
			<td>
				STKNUM</td>
			<td>
				SKNO</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				3</td>
			<td>
				Record Identifier</td>
			<td>
				RECID</td>
			<td>
				RID</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				4</td>
			<td>
				Sequence Identifier</td>
			<td>
				SEQID</td>
			<td>
				SQID</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				5</td>
			<td>
				Date</td>
			<td>
				DATE</td>
			<td>
				DATE</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				6</td>
			<td>
				Time</td>
			<td>
				TIME</td>
			<td>
				TIME</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				7</td>
			<td>
				Activity Code</td>
			<td>
				ACTCOD</td>
			<td>
				ACTC</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				8</td>
			<td>
				Depth Connection (meas)</td>
			<td>
				DEPTCONM</td>
			<td>
				DCNM</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				9</td>
			<td>
				Depth Connection (vert)</td>
			<td>
				DEPTCONV</td>
			<td>
				DCNV</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				10</td>
			<td>
				Depth Hole (meas)</td>
			<td>
				DEPTMEAS</td>
			<td>
				DMEA</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				11</td>
			<td>
				Depth Hole (vert)</td>
			<td>
				DEPTVERT</td>
			<td>
				DVER</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				12</td>
			<td>
				Elapsed Time Bottom-Slips</td>
			<td>
				ETIMEBTS</td>
			<td>
				ETBS</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				SEC</td>
			<td>
				SEC</td>
		</tr>
		<tr>
			<td>
				13</td>
			<td>
				Elapsed Time In-Slips</td>
			<td>
				ETIMESLP</td>
			<td>
				ETSL</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				SEC</td>
			<td>
				SEC</td>
		</tr>
		<tr>
			<td>
				14</td>
			<td>
				Elapsed Time Slips-Bottom</td>
			<td>
				ETIMESTB</td>
			<td>
				ETSB</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				SEC</td>
			<td>
				SEC</td>
		</tr>
		<tr>
			<td>
				15</td>
			<td>
				Elapsed Time Pumps-Off</td>
			<td>
				ETIMEPOF</td>
			<td>
				ETPO</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				SEC</td>
			<td>
				SEC</td>
		</tr>
		<tr>
			<td>
				16</td>
			<td>
				Running Speed - up (max)</td>
			<td>
				RSUX</td>
			<td>
				RSUX</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M/S</td>
			<td>
				FPM</td>
		</tr>
		<tr>
			<td>
				17</td>
			<td>
				Running Speed - down (max)</td>
			<td>
				RSDX</td>
			<td>
				RSDX</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M/S</td>
			<td>
				FPM</td>
		</tr>
		<tr>
			<td>
				18</td>
			<td>
				Hookload (max)</td>
			<td>
				HKLX</td>
			<td>
				HKLX</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				KDN</td>
			<td>
				KLB</td>
		</tr>
		<tr>
			<td>
				19</td>
			<td>
				String Weight (rot,avg)</td>
			<td>
				STRGWT</td>
			<td>
				STWT</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				KDN</td>
			<td>
				KLB</td>
		</tr>
		<tr>
			<td>
				20</td>
			<td>
				Torque - Make Up (max)</td>
			<td>
				TORQMUX</td>
			<td>
				TQMX</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				KNM</td>
			<td>
				KFLB</td>
		</tr>
		<tr>
			<td>
				21</td>
			<td>
				Torque - Breakout (max)</td>
			<td>
				TORQBOX</td>
			<td>
				TQBX</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				KNM</td>
			<td>
				KFLB</td>
		</tr>
		<tr>
			<td>
				22</td>
			<td>
				&lt; SPARE 1 &gt;</td>
			<td>
				SPARE1</td>
			<td>
				SPR1</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				23</td>
			<td>
				&lt; SPARE 2 &gt;</td>
			<td>
				SPARE2</td>
			<td>
				SPR2</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				24</td>
			<td>
				&lt; SPARE 3 &gt;</td>
			<td>
				SPARE3</td>
			<td>
				SPR3</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				25</td>
			<td>
				&lt; SPARE 4 &gt;</td>
			<td>
				SPARE4</td>
			<td>
				SPR4</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				26</td>
			<td>
				&lt; SPARE 5 &gt;</td>
			<td>
				SPARE5</td>
			<td>
				SPR5</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
	</tbody>
</table>
<p>
	&nbsp;</p>
</div>
					<div style="clear: both; line-height:0px; font-size: 0px;">&nbsp;</div>
				</div>