<div id="wiki-page-content" style="min-height: 364px;">
					<h1>WITS Table 04 (Hydraulics)</h1>
					<div class="article-content"><table border="5">
	<tbody>
		<tr>
			<th align="CENTER">
				Item</th>
			<th align="">
				Description</th>
			<th align="">
				Long Mnemonic</th>
			<th align="">
				Short Mnemonic</th>
			<th align="">
				Type</th>
			<th align="">
				Length</th>
			<th align="">
				Metric Units</th>
			<th align="">
				FPS Units</th>
		</tr>
		<tr>
			<td>
				1</td>
			<td>
				Well Identifier</td>
			<td>
				WELLID</td>
			<td>
				WID</td>
			<td>
				A</td>
			<td>
				16</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				2</td>
			<td>
				Sidetrack/Hole Sect No.</td>
			<td>
				STKNUM</td>
			<td>
				SKNO</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				3</td>
			<td>
				Record Identifier</td>
			<td>
				RECID</td>
			<td>
				RID</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				4</td>
			<td>
				Sequence Identifier</td>
			<td>
				SEQID</td>
			<td>
				SQID</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				5</td>
			<td>
				Date</td>
			<td>
				DATE</td>
			<td>
				DATE</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				6</td>
			<td>
				Time</td>
			<td>
				TIME</td>
			<td>
				TIME</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				7</td>
			<td>
				Activity Code</td>
			<td>
				ACTCOD</td>
			<td>
				ACTC</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				8</td>
			<td>
				Depth Hole (meas)</td>
			<td>
				DEPTMEAS</td>
			<td>
				DMEA</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				9</td>
			<td>
				Depth Hole (vert)</td>
			<td>
				DEPTVERT</td>
			<td>
				DVER</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				10</td>
			<td>
				Depth Bit (meas)</td>
			<td>
				DEPTBITM</td>
			<td>
				DBTM</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				11</td>
			<td>
				Depth Bit (vert)</td>
			<td>
				DEPTBITV</td>
			<td>
				DBTV</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				12</td>
			<td>
				Mud Density In (avg)</td>
			<td>
				MDIA</td>
			<td>
				MDIA</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				KGM3</td>
			<td>
				PPG</td>
		</tr>
		<tr>
			<td>
				13</td>
			<td>
				Mud Flow In (avg)</td>
			<td>
				MFIA</td>
			<td>
				MFIA</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				L/M</td>
			<td>
				GPM</td>
		</tr>
		<tr>
			<td>
				14</td>
			<td>
				Standpipe Pressure (avg)</td>
			<td>
				SPPA</td>
			<td>
				SPPA</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				KPA</td>
			<td>
				PSI</td>
		</tr>
		<tr>
			<td>
				15</td>
			<td>
				Plastic Viscosity</td>
			<td>
				PV</td>
			<td>
				PV</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				CP</td>
			<td>
				CP</td>
		</tr>
		<tr>
			<td>
				16</td>
			<td>
				Yield Point</td>
			<td>
				YP</td>
			<td>
				YP</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				PA</td>
			<td>
				PHSF</td>
		</tr>
		<tr>
			<td>
				17</td>
			<td>
				Pressure Loss - bit</td>
			<td>
				PLB</td>
			<td>
				PLB</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				KPA</td>
			<td>
				PSI</td>
		</tr>
		<tr>
			<td>
				18</td>
			<td>
				Pressure Loss - string</td>
			<td>
				PLDS</td>
			<td>
				PLDS</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				KPA</td>
			<td>
				PSI</td>
		</tr>
		<tr>
			<td>
				19</td>
			<td>
				Pressure Loss - annulus</td>
			<td>
				PLA</td>
			<td>
				PLA</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				KPA</td>
			<td>
				PSI</td>
		</tr>
		<tr>
			<td>
				20</td>
			<td>
				Pressure Loss - surface</td>
			<td>
				PLSU</td>
			<td>
				PLSU</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				KPA</td>
			<td>
				PSI</td>
		</tr>
		<tr>
			<td>
				21</td>
			<td>
				Pressure Loss - mud motor</td>
			<td>
				PLMM</td>
			<td>
				PLMM</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				KPA</td>
			<td>
				PSI</td>
		</tr>
		<tr>
			<td>
				22</td>
			<td>
				Pressure Loss - MWD tool</td>
			<td>
				PLMWD</td>
			<td>
				PLMW</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				KPA</td>
			<td>
				PSI</td>
		</tr>
		<tr>
			<td>
				23</td>
			<td>
				Pressure Loss - % at bit</td>
			<td>
				PLPB</td>
			<td>
				PLPB</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				%</td>
			<td>
				%</td>
		</tr>
		<tr>
			<td>
				24</td>
			<td>
				Bit Hydraulic Power</td>
			<td>
				BHP</td>
			<td>
				BHP</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				KW</td>
			<td>
				HP</td>
		</tr>
		<tr>
			<td>
				25</td>
			<td>
				Bit Hydraulic Power/Area</td>
			<td>
				BHPA</td>
			<td>
				BHPA</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				KWM2</td>
			<td>
				HSI</td>
		</tr>
		<tr>
			<td>
				26</td>
			<td>
				Jet Impact Force</td>
			<td>
				JIF</td>
			<td>
				JIF</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				KDN</td>
			<td>
				LB</td>
		</tr>
		<tr>
			<td>
				27</td>
			<td>
				Jet Velocity</td>
			<td>
				JV</td>
			<td>
				JV</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M/S</td>
			<td>
				FPS</td>
		</tr>
		<tr>
			<td>
				28</td>
			<td>
				Annular Velocity (min)</td>
			<td>
				AVELN</td>
			<td>
				AVN</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M/S</td>
			<td>
				FPM</td>
		</tr>
		<tr>
			<td>
				29</td>
			<td>
				Annular Velocity (max)</td>
			<td>
				AVELX</td>
			<td>
				AVX</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M/S</td>
			<td>
				FPM</td>
		</tr>
		<tr>
			<td>
				30</td>
			<td>
				ECD at Total Depth</td>
			<td>
				ECDTD</td>
			<td>
				ECDT</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				KGM3</td>
			<td>
				PPG</td>
		</tr>
		<tr>
			<td>
				31</td>
			<td>
				ECD at Bit</td>
			<td>
				ECDBIT</td>
			<td>
				ECDB</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				KGM3</td>
			<td>
				PPG</td>
		</tr>
		<tr>
			<td>
				32</td>
			<td>
				ECD at Casing Shoe</td>
			<td>
				ECDCSG</td>
			<td>
				ECDC</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				KGM3</td>
			<td>
				PPG</td>
		</tr>
		<tr>
			<td>
				33</td>
			<td>
				Pump Hydraulic Power</td>
			<td>
				PHP</td>
			<td>
				PHP</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				KW</td>
			<td>
				HP</td>
		</tr>
		<tr>
			<td>
				34</td>
			<td>
				Calc/Obs Press.Loss ratio</td>
			<td>
				PLCO</td>
			<td>
				PLCO</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				%</td>
			<td>
				%</td>
		</tr>
		<tr>
			<td>
				35</td>
			<td>
				&lt; SPARE 1 &gt;</td>
			<td>
				SPARE1</td>
			<td>
				SPR1</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				36</td>
			<td>
				&lt; SPARE 2 &gt;</td>
			<td>
				SPARE2</td>
			<td>
				SPR2</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				37</td>
			<td>
				&lt; SPARE 3 &gt;</td>
			<td>
				SPARE3</td>
			<td>
				SPR3</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				38</td>
			<td>
				&lt; SPARE 4 &gt;</td>
			<td>
				SPARE4</td>
			<td>
				SPR4</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				39</td>
			<td>
				&lt; SPARE 5 &gt;</td>
			<td>
				SPARE5</td>
			<td>
				SPR5</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				---</td>
			<td>
				----</td>
		</tr>
	</tbody>
</table>
<p>
	&nbsp;</p>
</div>
					<div style="clear: both; line-height:0px; font-size: 0px;">&nbsp;</div>
				</div>