<div id="wiki-page-content" style="min-height: 364px;">
					<h1>WITS Table 25 (Weather &amp; Sea Conditions)</h1>
					<div class="article-content"><table border="5">
	<tbody>
		<tr>
			<th align="CENTER">
				Item</th>
			<th align="">
				Description</th>
			<th align="">
				Long Mnemonic</th>
			<th align="">
				Short Mnemonic</th>
			<th align="">
				Type</th>
			<th align="">
				Length</th>
			<th align="">
				Metric Units</th>
			<th align="">
				FPS Units</th>
		</tr>
		<tr>
			<td>
				1</td>
			<td>
				Well Identifier</td>
			<td>
				WELLID</td>
			<td>
				WID</td>
			<td>
				A</td>
			<td>
				16</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				2</td>
			<td>
				Sidetrack/Hole Sect No.</td>
			<td>
				STKNUM</td>
			<td>
				SKNO</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				3</td>
			<td>
				Record Identifier</td>
			<td>
				RECID</td>
			<td>
				RID</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				4</td>
			<td>
				Sequence Identifier</td>
			<td>
				SEQID</td>
			<td>
				SQID</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				5</td>
			<td>
				Date</td>
			<td>
				DATE</td>
			<td>
				DATE</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				6</td>
			<td>
				Time</td>
			<td>
				TIME</td>
			<td>
				TIME</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				7</td>
			<td>
				Activity Code</td>
			<td>
				ACTCOD</td>
			<td>
				ACTC</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				8</td>
			<td>
				Water Depth (mean)</td>
			<td>
				WATDEPT</td>
			<td>
				WDPM</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				9</td>
			<td>
				Air Temperature</td>
			<td>
				AIRTEMP</td>
			<td>
				AIRT</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				DEGC</td>
			<td>
				DEGF</td>
		</tr>
		<tr>
			<td>
				10</td>
			<td>
				Barometric Pressure</td>
			<td>
				BARPRES</td>
			<td>
				BARP</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				KPA</td>
			<td>
				IHG</td>
		</tr>
		<tr>
			<td>
				11</td>
			<td>
				Waves, Significant Height</td>
			<td>
				WVSHGHT</td>
			<td>
				WVSH</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				12</td>
			<td>
				Waves, Maximum Height</td>
			<td>
				WVMHGHT</td>
			<td>
				WVMH</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				13</td>
			<td>
				Waves, Mean Period</td>
			<td>
				WVMPER</td>
			<td>
				WVMP</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				SEC</td>
			<td>
				SEC</td>
		</tr>
		<tr>
			<td>
				14</td>
			<td>
				Waves, Direction</td>
			<td>
				WVDIR</td>
			<td>
				WVDI</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				DEG</td>
			<td>
				DEG</td>
		</tr>
		<tr>
			<td>
				15</td>
			<td>
				Swell, Significant Height</td>
			<td>
				SWSHGHT</td>
			<td>
				SWSH</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				16</td>
			<td>
				Swell, Maximum Height</td>
			<td>
				SWMHGHT</td>
			<td>
				SWMH</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				17</td>
			<td>
				Swell, Mean Period</td>
			<td>
				SWMPER</td>
			<td>
				SWMP</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				SEC</td>
			<td>
				SEC</td>
		</tr>
		<tr>
			<td>
				18</td>
			<td>
				Swell, Direction</td>
			<td>
				SWDIR</td>
			<td>
				SWDI</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				DEG</td>
			<td>
				DEG</td>
		</tr>
		<tr>
			<td>
				19</td>
			<td>
				Wind Speed ( 1 min )</td>
			<td>
				WINDSPD</td>
			<td>
				WSPD</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				KPH</td>
			<td>
				MPH</td>
		</tr>
		<tr>
			<td>
				20</td>
			<td>
				Wind Gusts ( 5 sec )</td>
			<td>
				WINDGUST</td>
			<td>
				WGST</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				KPH</td>
			<td>
				MPH</td>
		</tr>
		<tr>
			<td>
				21</td>
			<td>
				Wind Direction</td>
			<td>
				WINDDIR</td>
			<td>
				WDIR</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				DEG</td>
			<td>
				DEG</td>
		</tr>
		<tr>
			<td>
				22</td>
			<td>
				Anemometer Height</td>
			<td>
				ANEMHGHT</td>
			<td>
				ANEM</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				23</td>
			<td>
				Current Speed</td>
			<td>
				CURRSPD</td>
			<td>
				CSPD</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				KPH</td>
			<td>
				MPH</td>
		</tr>
		<tr>
			<td>
				24</td>
			<td>
				Current Direction</td>
			<td>
				CURRDIR</td>
			<td>
				CDIR</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				DEG</td>
			<td>
				DEG</td>
		</tr>
		<tr>
			<td>
				25</td>
			<td>
				Depth current measured</td>
			<td>
				DEPTCURR</td>
			<td>
				DCUR</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				26</td>
			<td>
				Vessel Mean Draft</td>
			<td>
				VESMDRFT</td>
			<td>
				VMD</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				27</td>
			<td>
				Heave, Peak-to-Peak (sig)</td>
			<td>
				HEAVSIG</td>
			<td>
				HVSG</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				28</td>
			<td>
				Heave, Peak-to-Peak (max)</td>
			<td>
				HEAVMAX</td>
			<td>
				HVMX</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				29</td>
			<td>
				Heave, Mean Period</td>
			<td>
				HEAVMPER</td>
			<td>
				HVMP</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				SEC</td>
			<td>
				SEC</td>
		</tr>
		<tr>
			<td>
				30</td>
			<td>
				Roll, Peak-to-Peak (sig)</td>
			<td>
				ROLLSIG</td>
			<td>
				RLSG</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				DEG</td>
			<td>
				DEG</td>
		</tr>
		<tr>
			<td>
				31</td>
			<td>
				Roll, Peak-to-Peak (max)</td>
			<td>
				ROLLMAX</td>
			<td>
				RLMX</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				DEG</td>
			<td>
				DEG</td>
		</tr>
		<tr>
			<td>
				32</td>
			<td>
				Roll, Mean Period</td>
			<td>
				ROLLMPER</td>
			<td>
				RLMP</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				SEC</td>
			<td>
				SEC</td>
		</tr>
		<tr>
			<td>
				33</td>
			<td>
				Pitch, Peak-to-Peak (sig)</td>
			<td>
				PTCHSIG</td>
			<td>
				PTSG</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				DEG</td>
			<td>
				DEG</td>
		</tr>
		<tr>
			<td>
				34</td>
			<td>
				Pitch, Peak-to-Peak (max)</td>
			<td>
				PTCHMAX</td>
			<td>
				PTMX</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				DEG</td>
			<td>
				DEG</td>
		</tr>
		<tr>
			<td>
				35</td>
			<td>
				Pitch, Mean Period</td>
			<td>
				PTCHMPER</td>
			<td>
				PTMP</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				SEC</td>
			<td>
				SEC</td>
		</tr>
		<tr>
			<td>
				36</td>
			<td>
				Yaw, Peak-to Peak (sig)</td>
			<td>
				YAWSIG</td>
			<td>
				YWSG</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				DEG</td>
			<td>
				DEG</td>
		</tr>
		<tr>
			<td>
				37</td>
			<td>
				Yaw, Peak-to-Peak (max)</td>
			<td>
				YAWMAX</td>
			<td>
				YWMX</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				DEG</td>
			<td>
				DEG</td>
		</tr>
		<tr>
			<td>
				38</td>
			<td>
				Yaw, Mean Period</td>
			<td>
				YAWMPER</td>
			<td>
				YWMP</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				SEC</td>
			<td>
				SEC</td>
		</tr>
		<tr>
			<td>
				39</td>
			<td>
				Surge, Peak-to-Peak (sig)</td>
			<td>
				SURGSIG</td>
			<td>
				SUSG</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				40</td>
			<td>
				Surge, Peak-to-Peak (max)</td>
			<td>
				SURGMAX</td>
			<td>
				SUMX</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				41</td>
			<td>
				Surge, Mean Period</td>
			<td>
				SURGMPER</td>
			<td>
				SUMP</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				SEC</td>
			<td>
				SEC</td>
		</tr>
		<tr>
			<td>
				42</td>
			<td>
				Sway, Peak-to-Peak (sig)</td>
			<td>
				SWAYSIG</td>
			<td>
				SYSG</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				43</td>
			<td>
				Sway, Peak-to-Peak (max)</td>
			<td>
				SWAYMAX</td>
			<td>
				SYMX</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				44</td>
			<td>
				Sway, Mean Period</td>
			<td>
				SWAYMPER</td>
			<td>
				SYMP</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				SEC</td>
			<td>
				SEC</td>
		</tr>
		<tr>
			<td>
				45</td>
			<td>
				Trim</td>
			<td>
				TRIM</td>
			<td>
				TRIM</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				DEG</td>
			<td>
				DEG</td>
		</tr>
		<tr>
			<td>
				46</td>
			<td>
				Heel</td>
			<td>
				HEEL</td>
			<td>
				HEEL</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				DEG</td>
			<td>
				DEG</td>
		</tr>
		<tr>
			<td>
				47</td>
			<td>
				Weather Comments</td>
			<td>
				WSSCOMM</td>
			<td>
				WSCM</td>
			<td>
				A</td>
			<td>
				128</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				48</td>
			<td>
				&lt; SPARE 1 &gt;</td>
			<td>
				SPARE1</td>
			<td>
				SPR1</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				49</td>
			<td>
				&lt; SPARE 2 &gt;</td>
			<td>
				SPARE2</td>
			<td>
				SPR2</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				50</td>
			<td>
				&lt; SPARE 3 &gt;</td>
			<td>
				SPARE3</td>
			<td>
				SPR3</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				51</td>
			<td>
				&lt; SPARE 4 &gt;</td>
			<td>
				SPARE4</td>
			<td>
				SPR4</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				52</td>
			<td>
				&lt; SPARE 5 &gt;</td>
			<td>
				SPARE5</td>
			<td>
				SPR5</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				---</td>
			<td>
				----</td>
		</tr>
	</tbody>
</table>
<p>
	&nbsp;</p>
</div>
					<div style="clear: both; line-height:0px; font-size: 0px;">&nbsp;</div>
				</div>