<div id="wiki-page-content" style="min-height: 364px;">
					<h1>WITS Table 21 (Bit Report)</h1>
					<div class="article-content"><table border="5">
	<tbody>
		<tr>
			<th align="CENTER">
				Item</th>
			<th align="">
				Description</th>
			<th align="">
				Long Mnemonic</th>
			<th align="">
				Short Mnemonic</th>
			<th align="">
				Type</th>
			<th align="">
				Length</th>
			<th align="">
				Metric Units</th>
			<th align="">
				FPS Units</th>
		</tr>
		<tr>
			<td>
				1</td>
			<td>
				Well Identifier</td>
			<td>
				WELLID</td>
			<td>
				WID</td>
			<td>
				A</td>
			<td>
				16</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				2</td>
			<td>
				Sidetrack/Hole Sect No.</td>
			<td>
				STKNUM</td>
			<td>
				SKNO</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				3</td>
			<td>
				Record Identifier</td>
			<td>
				RECID</td>
			<td>
				RID</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				4</td>
			<td>
				Sequence Identifier</td>
			<td>
				SEQID</td>
			<td>
				SQID</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				5</td>
			<td>
				Date</td>
			<td>
				DATE</td>
			<td>
				DATE</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				6</td>
			<td>
				Time</td>
			<td>
				TIME</td>
			<td>
				TIME</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				7</td>
			<td>
				Activity Code</td>
			<td>
				ACTCOD</td>
			<td>
				ACTC</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				8</td>
			<td>
				Bit Number</td>
			<td>
				BTNUM</td>
			<td>
				BNUM</td>
			<td>
				A</td>
			<td>
				8</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				9</td>
			<td>
				Bit Diameter</td>
			<td>
				BTDIAM</td>
			<td>
				BDIA</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				MM</td>
			<td>
				IN</td>
		</tr>
		<tr>
			<td>
				10</td>
			<td>
				Bit Manufacturer</td>
			<td>
				BTMANUF</td>
			<td>
				BMAN</td>
			<td>
				A</td>
			<td>
				16</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				11</td>
			<td>
				Bit Name</td>
			<td>
				BTNAME</td>
			<td>
				BNAM</td>
			<td>
				A</td>
			<td>
				16</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				12</td>
			<td>
				Bit IADC Code</td>
			<td>
				BTCODE</td>
			<td>
				BCOD</td>
			<td>
				A</td>
			<td>
				8</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				13</td>
			<td>
				Bit Serial Number</td>
			<td>
				BTSERNUM</td>
			<td>
				BSER</td>
			<td>
				A</td>
			<td>
				16</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				14</td>
			<td>
				Bit Cost</td>
			<td>
				BTCOST</td>
			<td>
				BCST</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				$</td>
			<td>
				$</td>
		</tr>
		<tr>
			<td>
				15</td>
			<td>
				Bit Jet 1 Diameter</td>
			<td>
				BTJET1</td>
			<td>
				BJT1</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				MM</td>
			<td>
				I/32</td>
		</tr>
		<tr>
			<td>
				16</td>
			<td>
				Bit Jet 2 Diameter</td>
			<td>
				BTJET2</td>
			<td>
				BJT2</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				MM</td>
			<td>
				I/32</td>
		</tr>
		<tr>
			<td>
				17</td>
			<td>
				Bit Jet 3 Diameter</td>
			<td>
				BTJET3</td>
			<td>
				BJT3</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				MM</td>
			<td>
				I/32</td>
		</tr>
		<tr>
			<td>
				18</td>
			<td>
				Bit Jet 4 Diameter</td>
			<td>
				BTJET4</td>
			<td>
				BJT4</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				MM</td>
			<td>
				I/32</td>
		</tr>
		<tr>
			<td>
				19</td>
			<td>
				Bit Center Jet Diameter</td>
			<td>
				BTJETCEN</td>
			<td>
				BJTC</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				MM</td>
			<td>
				I/32</td>
		</tr>
		<tr>
			<td>
				20</td>
			<td>
				Bit Total Flow Area</td>
			<td>
				BTTFA</td>
			<td>
				BTFA</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				MM2</td>
			<td>
				SQIN</td>
		</tr>
		<tr>
			<td>
				21</td>
			<td>
				Bit Starting Depth (In)</td>
			<td>
				BTDEPIN</td>
			<td>
				BDPI</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				22</td>
			<td>
				Bit Ending Depth (Out)</td>
			<td>
				BTDEPOUT</td>
			<td>
				BDPO</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				23</td>
			<td>
				Bit Run Drilled Distance</td>
			<td>
				BTDDIST</td>
			<td>
				BDDI</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				24</td>
			<td>
				Bit Run Drilled Time</td>
			<td>
				BTDTIME</td>
			<td>
				BDTI</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				HR</td>
			<td>
				HR</td>
		</tr>
		<tr>
			<td>
				25</td>
			<td>
				Bit Run Reamed Time</td>
			<td>
				BTRTIME</td>
			<td>
				BRTI</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				HR</td>
			<td>
				HR</td>
		</tr>
		<tr>
			<td>
				26</td>
			<td>
				Bit Penetration Rate (avg)</td>
			<td>
				BTROPA</td>
			<td>
				BRPA</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M/HR</td>
			<td>
				F/HR</td>
		</tr>
		<tr>
			<td>
				27</td>
			<td>
				Bit Weight-on-Bit (avg)</td>
			<td>
				BTWOBA</td>
			<td>
				BWBA</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				KDN</td>
			<td>
				KLB</td>
		</tr>
		<tr>
			<td>
				28</td>
			<td>
				Bit Weight-on-Bit (max)</td>
			<td>
				BTWOBX</td>
			<td>
				BWBX</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				KDN</td>
			<td>
				KLB</td>
		</tr>
		<tr>
			<td>
				29</td>
			<td>
				Bit Rotary Speed (avg)</td>
			<td>
				BTRPMA</td>
			<td>
				BRMA</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				RPM</td>
			<td>
				RPM</td>
		</tr>
		<tr>
			<td>
				30</td>
			<td>
				Bit Rotary Speed (max)</td>
			<td>
				BTRPMX</td>
			<td>
				BRMX</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				RPM</td>
			<td>
				RPM</td>
		</tr>
		<tr>
			<td>
				31</td>
			<td>
				Bit Mud Flow Rate (avg)</td>
			<td>
				BTMFA</td>
			<td>
				BMFA</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				L/M</td>
			<td>
				GPM</td>
		</tr>
		<tr>
			<td>
				32</td>
			<td>
				Bit Mud Density (avg)</td>
			<td>
				BTMDA</td>
			<td>
				BMDA</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				KGM3</td>
			<td>
				PPG</td>
		</tr>
		<tr>
			<td>
				33</td>
			<td>
				Bit Standpipe Pressure (avg)</td>
			<td>
				BTSPPA</td>
			<td>
				BSPA</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				KPA</td>
			<td>
				PSI</td>
		</tr>
		<tr>
			<td>
				34</td>
			<td>
				Bit Reason Run</td>
			<td>
				BTRUN</td>
			<td>
				BRUN</td>
			<td>
				A</td>
			<td>
				16</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				35</td>
			<td>
				Bit Reason Pulled</td>
			<td>
				BTPULL</td>
			<td>
				BPUL</td>
			<td>
				A</td>
			<td>
				16</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				36</td>
			<td>
				Bit Grade In</td>
			<td>
				BTGRDIN</td>
			<td>
				BGI</td>
			<td>
				A</td>
			<td>
				16</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				37</td>
			<td>
				Bit Grade Out</td>
			<td>
				BTGRDOUT</td>
			<td>
				BGO</td>
			<td>
				A</td>
			<td>
				16</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				38</td>
			<td>
				Bit Shock Sub Used ?</td>
			<td>
				BTSHKSUB</td>
			<td>
				BSHK</td>
			<td>
				A</td>
			<td>
				1</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				39</td>
			<td>
				Bit Mud Motor Used ?</td>
			<td>
				BTMUDMOT</td>
			<td>
				BMM</td>
			<td>
				A</td>
			<td>
				1</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				40</td>
			<td>
				Bit Comments</td>
			<td>
				BTCOMM</td>
			<td>
				BCOM</td>
			<td>
				A</td>
			<td>
				128</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				41</td>
			<td>
				&lt; SPARE 1 &gt;</td>
			<td>
				SPARE1</td>
			<td>
				SPR1</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				42</td>
			<td>
				&lt; SPARE 2 &gt;</td>
			<td>
				SPARE2</td>
			<td>
				SPR2</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				43</td>
			<td>
				&lt; SPARE 3 &gt;</td>
			<td>
				SPARE3</td>
			<td>
				SPR3</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				44</td>
			<td>
				&lt; SPARE 4 &gt;</td>
			<td>
				SPARE4</td>
			<td>
				SPR4</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				45</td>
			<td>
				&lt; SPARE 5 &gt;</td>
			<td>
				SPARE5</td>
			<td>
				SPR5</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				---</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				46</td>
			<td>
				&lt; SPARE 6 &gt;</td>
			<td>
				SPARE6</td>
			<td>
				SPR6</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				47</td>
			<td>
				&lt; SPARE 7 &gt;</td>
			<td>
				SPARE7</td>
			<td>
				SPR7</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				48</td>
			<td>
				&lt; SPARE 8 &gt;</td>
			<td>
				SPARE8</td>
			<td>
				SPR8</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				49</td>
			<td>
				&lt; SPARE 9 &gt;</td>
			<td>
				SPARE9</td>
			<td>
				SPR9</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				---</td>
			<td>
				----</td>
		</tr>
	</tbody>
</table>
<p>
	&nbsp;</p>
</div>
					<div style="clear: both; line-height:0px; font-size: 0px;">&nbsp;</div>
				</div>