<div id="wiki-page-content" style="min-height: 364px;">
					<h1>WITS Table 20 (Mud Report)</h1>
					<div class="article-content"><table border="5">
	<tbody>
		<tr>
			<th align="CENTER">
				Item</th>
			<th align="">
				Description</th>
			<th align="">
				Long Mnemonic</th>
			<th align="">
				Short Mnemonic</th>
			<th align="">
				Type</th>
			<th align="">
				Length</th>
			<th align="">
				Metric Units</th>
			<th align="">
				FPS Units</th>
		</tr>
		<tr>
			<td>
				1</td>
			<td>
				Well Identifier</td>
			<td>
				WELLID</td>
			<td>
				WID</td>
			<td>
				A</td>
			<td>
				16</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				2</td>
			<td>
				Sidetrack/Hole Sect No.</td>
			<td>
				STKNUM</td>
			<td>
				SKNO</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				3</td>
			<td>
				Record Identifier</td>
			<td>
				RECID</td>
			<td>
				RID</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				4</td>
			<td>
				Sequence Identifier</td>
			<td>
				SEQID</td>
			<td>
				SQID</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				5</td>
			<td>
				Date</td>
			<td>
				DATE</td>
			<td>
				DATE</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				6</td>
			<td>
				Time</td>
			<td>
				TIME</td>
			<td>
				TIME</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				7</td>
			<td>
				Activity Code</td>
			<td>
				ACTCOD</td>
			<td>
				ACTC</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				8</td>
			<td>
				Mud Rept Depth (meas)</td>
			<td>
				MREPDM</td>
			<td>
				MRDM</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				9</td>
			<td>
				Mud Rept Depth (vert)</td>
			<td>
				MREPDV</td>
			<td>
				MRDV</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				10</td>
			<td>
				Mud Rept Number</td>
			<td>
				MREPNUM</td>
			<td>
				MNUM</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				11</td>
			<td>
				Mud Rept Mud Type</td>
			<td>
				MRMTYPE</td>
			<td>
				MTYP</td>
			<td>
				A</td>
			<td>
				16</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				12</td>
			<td>
				Mud Rept Sample Location</td>
			<td>
				MRSLOC</td>
			<td>
				MLOC</td>
			<td>
				A</td>
			<td>
				8</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				13</td>
			<td>
				Mud Rept Sample Date</td>
			<td>
				MRSDATE</td>
			<td>
				MDAT</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				14</td>
			<td>
				Mud Rept Sample Time</td>
			<td>
				MRSTIME</td>
			<td>
				MTIM</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				15</td>
			<td>
				Mud Rept Mud Density</td>
			<td>
				MRDENS</td>
			<td>
				MDEN</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				KGM3</td>
			<td>
				PPG</td>
		</tr>
		<tr>
			<td>
				16</td>
			<td>
				Mud Rept Funnel Vis</td>
			<td>
				MRFVIS</td>
			<td>
				MFV</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				S/L</td>
			<td>
				S/QT</td>
		</tr>
		<tr>
			<td>
				17</td>
			<td>
				Mud Rept Funnel Vis Temp</td>
			<td>
				MRFVIST</td>
			<td>
				MFVT</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				DEGC</td>
			<td>
				DEGF</td>
		</tr>
		<tr>
			<td>
				18</td>
			<td>
				Mud Rept Plastic Vis</td>
			<td>
				MRPV</td>
			<td>
				MPV</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				CP</td>
			<td>
				CP</td>
		</tr>
		<tr>
			<td>
				19</td>
			<td>
				Mud Rept Yield Point</td>
			<td>
				MRYP</td>
			<td>
				MYP</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				PA</td>
			<td>
				PHSF</td>
		</tr>
		<tr>
			<td>
				20</td>
			<td>
				Mud Rept Gel - 10 sec</td>
			<td>
				MRGEL10S</td>
			<td>
				MGL1</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				PA</td>
			<td>
				PHSF</td>
		</tr>
		<tr>
			<td>
				21</td>
			<td>
				Mud Rept Gel - 10 min</td>
			<td>
				MRGEL10M</td>
			<td>
				MGL2</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				PA</td>
			<td>
				PHSF</td>
		</tr>
		<tr>
			<td>
				22</td>
			<td>
				Mud Rept Gel - 30 min</td>
			<td>
				MRGEL30M</td>
			<td>
				MGL3</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				PA</td>
			<td>
				PHSF</td>
		</tr>
		<tr>
			<td>
				23</td>
			<td>
				Mud Rept Filtrate</td>
			<td>
				MRFILT</td>
			<td>
				MFIL</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				C/30</td>
			<td>
				C/30</td>
		</tr>
		<tr>
			<td>
				24</td>
			<td>
				Mud Rept Filter Cake</td>
			<td>
				MRCAKE</td>
			<td>
				MCAK</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				MM</td>
			<td>
				I/32</td>
		</tr>
		<tr>
			<td>
				25</td>
			<td>
				Mud Rept HTHP Temp</td>
			<td>
				MRHT</td>
			<td>
				MHT</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				DEGC</td>
			<td>
				DEGF</td>
		</tr>
		<tr>
			<td>
				26</td>
			<td>
				Mud Rept HTHP Pressure</td>
			<td>
				MRHP</td>
			<td>
				MHP</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				KPA</td>
			<td>
				PSI</td>
		</tr>
		<tr>
			<td>
				27</td>
			<td>
				Mud Rept HTHP Filtrate</td>
			<td>
				MRHFILT</td>
			<td>
				MHFI</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				C/30</td>
			<td>
				C/30</td>
		</tr>
		<tr>
			<td>
				28</td>
			<td>
				Mud Rept HTHP Filter Cake</td>
			<td>
				MRHCAKE</td>
			<td>
				MHCK</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				MM</td>
			<td>
				I/32</td>
		</tr>
		<tr>
			<td>
				29</td>
			<td>
				Mud Rept Solids % (retort)</td>
			<td>
				MRSOLRET</td>
			<td>
				MSOL</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				%</td>
			<td>
				%</td>
		</tr>
		<tr>
			<td>
				30</td>
			<td>
				Mud Rept Water % (retort)</td>
			<td>
				MRWATRET</td>
			<td>
				MWAT</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				%</td>
			<td>
				%</td>
		</tr>
		<tr>
			<td>
				31</td>
			<td>
				Mud Rept Oil % (retort)</td>
			<td>
				MROILRET</td>
			<td>
				MOIL</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				%</td>
			<td>
				%</td>
		</tr>
		<tr>
			<td>
				32</td>
			<td>
				Mud Rept Sand %</td>
			<td>
				MRSAND</td>
			<td>
				MSAN</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				%</td>
			<td>
				%</td>
		</tr>
		<tr>
			<td>
				33</td>
			<td>
				Mud Rept Low Grav Sol %</td>
			<td>
				MRLGSOL</td>
			<td>
				MLGS</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				%</td>
			<td>
				%</td>
		</tr>
		<tr>
			<td>
				34</td>
			<td>
				Mud Rept Solids % (calc)</td>
			<td>
				MRSOLCAL</td>
			<td>
				MSCA</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				%</td>
			<td>
				%</td>
		</tr>
		<tr>
			<td>
				35</td>
			<td>
				Mud Rept Barite content</td>
			<td>
				MRBARITE</td>
			<td>
				MBRT</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				%</td>
			<td>
				%</td>
		</tr>
		<tr>
			<td>
				36</td>
			<td>
				Mud Rept LCM content</td>
			<td>
				MRLCM</td>
			<td>
				MLCM</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				KGM3</td>
			<td>
				PPB</td>
		</tr>
		<tr>
			<td>
				37</td>
			<td>
				Mud Rept MBT capacity</td>
			<td>
				MRMBT</td>
			<td>
				MMBT</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				KGM3</td>
			<td>
				PPB</td>
		</tr>
		<tr>
			<td>
				38</td>
			<td>
				Mud Rept pH</td>
			<td>
				MRPH</td>
			<td>
				MPH</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				39</td>
			<td>
				Mud Rept pH sample temp</td>
			<td>
				MRPHT</td>
			<td>
				MPHT</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				DEGC</td>
			<td>
				DEGF</td>
		</tr>
		<tr>
			<td>
				40</td>
			<td>
				Mud Rept Pm</td>
			<td>
				MRPM</td>
			<td>
				MPM</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				MLML</td>
			<td>
				MLML</td>
		</tr>
		<tr>
			<td>
				41</td>
			<td>
				Mud Rept Pf</td>
			<td>
				MRPF</td>
			<td>
				MPF</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				MLML</td>
			<td>
				MLML</td>
		</tr>
		<tr>
			<td>
				42</td>
			<td>
				Mud Rept Mf</td>
			<td>
				MRMF</td>
			<td>
				MMF</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				MLML</td>
			<td>
				MLML</td>
		</tr>
		<tr>
			<td>
				43</td>
			<td>
				Mud Rept P1</td>
			<td>
				MRP1</td>
			<td>
				MRP1</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				MLML</td>
			<td>
				MLML</td>
		</tr>
		<tr>
			<td>
				44</td>
			<td>
				Mud Rept P2</td>
			<td>
				MRP2</td>
			<td>
				MRP2</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				MLML</td>
			<td>
				MLML</td>
		</tr>
		<tr>
			<td>
				45</td>
			<td>
				Mud Rept Chlorides</td>
			<td>
				MRCHLOR</td>
			<td>
				MCHL</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				MG/L</td>
			<td>
				MG/L</td>
		</tr>
		<tr>
			<td>
				46</td>
			<td>
				Mud Rept Calcium</td>
			<td>
				MRCALC</td>
			<td>
				MCAL</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				MG/L</td>
			<td>
				MG/L</td>
		</tr>
		<tr>
			<td>
				47</td>
			<td>
				Mud Rept Magnesium</td>
			<td>
				MRMAG</td>
			<td>
				MMAG</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				MG/L</td>
			<td>
				MG/L</td>
		</tr>
		<tr>
			<td>
				48</td>
			<td>
				Mud Rept Potassium</td>
			<td>
				MRPOT</td>
			<td>
				MPOT</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				MG/L</td>
			<td>
				MG/L</td>
		</tr>
		<tr>
			<td>
				49</td>
			<td>
				Mud Rept Rheometer temp</td>
			<td>
				MRRHETEM</td>
			<td>
				MRHT</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				DEGC</td>
			<td>
				DEGF</td>
		</tr>
		<tr>
			<td>
				50</td>
			<td>
				Mud Rept Viscom 3 rpm</td>
			<td>
				MRVIS3</td>
			<td>
				M3</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				51</td>
			<td>
				Mud Rept Viscom 6 rpm</td>
			<td>
				MRVIS6</td>
			<td>
				M6</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				52</td>
			<td>
				Mud Rept Viscom 100 rpm</td>
			<td>
				MRVIS100</td>
			<td>
				M100</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				53</td>
			<td>
				Mud Rept Viscom 200 rpm</td>
			<td>
				MRVIS200</td>
			<td>
				M200</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				54</td>
			<td>
				Mud Rept Viscom 300 rpm</td>
			<td>
				MRVIS300</td>
			<td>
				M300</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				55</td>
			<td>
				Mud Rept Viscom 600 rpm</td>
			<td>
				MRVIS600</td>
			<td>
				M600</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				56</td>
			<td>
				Mud Rept Brine %</td>
			<td>
				MRBRINE</td>
			<td>
				MBRI</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				%</td>
			<td>
				%</td>
		</tr>
		<tr>
			<td>
				57</td>
			<td>
				Mud Rept Alkalinity</td>
			<td>
				MRALK</td>
			<td>
				MALK</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				MLML</td>
			<td>
				MLML</td>
		</tr>
		<tr>
			<td>
				58</td>
			<td>
				Mud Rept Lime content</td>
			<td>
				MRLIME</td>
			<td>
				MLIM</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				KGM3</td>
			<td>
				PPB</td>
		</tr>
		<tr>
			<td>
				59</td>
			<td>
				Mud Rept Elect. Stability</td>
			<td>
				MRELECST</td>
			<td>
				MELS</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				V</td>
			<td>
				V</td>
		</tr>
		<tr>
			<td>
				60</td>
			<td>
				Mud Rept CaCl, Wt %</td>
			<td>
				MRCACL</td>
			<td>
				MCCL</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				%</td>
			<td>
				%</td>
		</tr>
		<tr>
			<td>
				61</td>
			<td>
				&lt; SPARE 1 &gt;</td>
			<td>
				SPARE1</td>
			<td>
				SPR1</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				62</td>
			<td>
				&lt; SPARE 2 &gt;</td>
			<td>
				SPARE2</td>
			<td>
				SPR2</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				63</td>
			<td>
				&lt; SPARE 3 &gt;</td>
			<td>
				SPARE3</td>
			<td>
				SPR3</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				64</td>
			<td>
				&lt; SPARE 4 &gt;</td>
			<td>
				SPARE4</td>
			<td>
				SPR4</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				65</td>
			<td>
				&lt; SPARE 5 &gt;</td>
			<td>
				SPARE5</td>
			<td>
				SPR5</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				---</td>
			<td>
				----</td>
		</tr>
	</tbody>
</table>
<p>
	&nbsp;</p>
</div>
					<div style="clear: both; line-height:0px; font-size: 0px;">&nbsp;</div>
				</div>