<div id="wiki-page-content" style="min-height: 364px;">
					<h1>WITS Table 11 (Mud Tank Volumes)</h1>
					<div class="article-content"><table border="5">
	<tbody>
		<tr>
			<th align="CENTER">
				Item</th>
			<th align="">
				Description</th>
			<th align="">
				Long Mnemonic</th>
			<th align="">
				Short Mnemonic</th>
			<th align="">
				Type</th>
			<th align="">
				Length</th>
			<th align="">
				Metric Units</th>
			<th align="">
				FPS Units</th>
		</tr>
		<tr>
			<td>
				1</td>
			<td>
				Well Identifier</td>
			<td>
				WELLID</td>
			<td>
				WID</td>
			<td>
				A</td>
			<td>
				16</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				2</td>
			<td>
				Sidetrack/Hole Sect No.</td>
			<td>
				STKNUM</td>
			<td>
				SKNO</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				3</td>
			<td>
				Record Identifier</td>
			<td>
				RECID</td>
			<td>
				RID</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				4</td>
			<td>
				Sequence Identifier</td>
			<td>
				SEQID</td>
			<td>
				SQID</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				5</td>
			<td>
				Date</td>
			<td>
				DATE</td>
			<td>
				DATE</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				6</td>
			<td>
				Time</td>
			<td>
				TIME</td>
			<td>
				TIME</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				7</td>
			<td>
				Activity Code</td>
			<td>
				ACTCOD</td>
			<td>
				ACTC</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				8</td>
			<td>
				Depth Hole (meas)</td>
			<td>
				DEPTMEAS</td>
			<td>
				DMEA</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				9</td>
			<td>
				Depth Hole (vert)</td>
			<td>
				DEPTVERT</td>
			<td>
				DVER</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				10</td>
			<td>
				Tank Volume (total)</td>
			<td>
				TVOLTOT</td>
			<td>
				TVT</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M3</td>
			<td>
				BBL</td>
		</tr>
		<tr>
			<td>
				11</td>
			<td>
				Tank Volume (active)</td>
			<td>
				TVOLACT</td>
			<td>
				TVA</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M3</td>
			<td>
				BBL</td>
		</tr>
		<tr>
			<td>
				12</td>
			<td>
				Tank Volume Change (total)</td>
			<td>
				TVOLCTOT</td>
			<td>
				TVCT</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M3</td>
			<td>
				BBL</td>
		</tr>
		<tr>
			<td>
				13</td>
			<td>
				Tank Volume Change (active)</td>
			<td>
				TVOLCACT</td>
			<td>
				TVCA</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M3</td>
			<td>
				BBL</td>
		</tr>
		<tr>
			<td>
				14</td>
			<td>
				Tank Volume Reset Time</td>
			<td>
				TVRESET</td>
			<td>
				TVRT</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				15</td>
			<td>
				Tank 01 Volume</td>
			<td>
				TVOL01</td>
			<td>
				TV01</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M3</td>
			<td>
				BBL</td>
		</tr>
		<tr>
			<td>
				16</td>
			<td>
				Tank 02 Volume</td>
			<td>
				TVOL02</td>
			<td>
				TV02</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M3</td>
			<td>
				BBL</td>
		</tr>
		<tr>
			<td>
				17</td>
			<td>
				Tank 03 Volume</td>
			<td>
				TVOL03</td>
			<td>
				TV03</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M3</td>
			<td>
				BBL</td>
		</tr>
		<tr>
			<td>
				18</td>
			<td>
				Tank 04 Volume</td>
			<td>
				TVOL04</td>
			<td>
				TV04</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M3</td>
			<td>
				BBL</td>
		</tr>
		<tr>
			<td>
				19</td>
			<td>
				Tank 05 Volume</td>
			<td>
				TVOL05</td>
			<td>
				TV05</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M3</td>
			<td>
				BBL</td>
		</tr>
		<tr>
			<td>
				20</td>
			<td>
				Tank 06 Volume</td>
			<td>
				TVOL06</td>
			<td>
				TV06</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M3</td>
			<td>
				BBL</td>
		</tr>
		<tr>
			<td>
				21</td>
			<td>
				Tank 07 Volume</td>
			<td>
				TVOL07</td>
			<td>
				TV07</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M3</td>
			<td>
				BBL</td>
		</tr>
		<tr>
			<td>
				22</td>
			<td>
				Tank 08 Volume</td>
			<td>
				TVOL08</td>
			<td>
				TV08</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M3</td>
			<td>
				BBL</td>
		</tr>
		<tr>
			<td>
				23</td>
			<td>
				Tank 09 Volume</td>
			<td>
				TVOL09</td>
			<td>
				TV09</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M3</td>
			<td>
				BBL</td>
		</tr>
		<tr>
			<td>
				24</td>
			<td>
				Tank 10 Volume</td>
			<td>
				TVOL10</td>
			<td>
				TV10</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M3</td>
			<td>
				BBL</td>
		</tr>
		<tr>
			<td>
				25</td>
			<td>
				Tank 11 Volume</td>
			<td>
				TVOL11</td>
			<td>
				TV11</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M3</td>
			<td>
				BBL</td>
		</tr>
		<tr>
			<td>
				26</td>
			<td>
				Tank 12 Volume</td>
			<td>
				TVOL12</td>
			<td>
				TV12</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M3</td>
			<td>
				BBL</td>
		</tr>
		<tr>
			<td>
				27</td>
			<td>
				Tank 13 Volume</td>
			<td>
				TVOL13</td>
			<td>
				TV13</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M3</td>
			<td>
				BBL</td>
		</tr>
		<tr>
			<td>
				28</td>
			<td>
				Tank 14 Volume</td>
			<td>
				TVOL14</td>
			<td>
				TV14</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M3</td>
			<td>
				BBL</td>
		</tr>
		<tr>
			<td>
				29</td>
			<td>
				Trip Tank 1 Volume</td>
			<td>
				TTVOL1</td>
			<td>
				TTV1</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M3</td>
			<td>
				BBL</td>
		</tr>
		<tr>
			<td>
				30</td>
			<td>
				Trip Tank 2 Volume</td>
			<td>
				TTVOL2</td>
			<td>
				TTV2</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M3</td>
			<td>
				BBL</td>
		</tr>
		<tr>
			<td>
				31</td>
			<td>
				&lt; SPARE 1 &gt;</td>
			<td>
				SPARE1</td>
			<td>
				SPR1</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				32</td>
			<td>
				&lt; SPARE 2 &gt;</td>
			<td>
				SPARE2</td>
			<td>
				SPR2</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				33</td>
			<td>
				&lt; SPARE 3 &gt;</td>
			<td>
				SPARE3</td>
			<td>
				SPR3</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				34</td>
			<td>
				&lt; SPARE 4 &gt;</td>
			<td>
				SPARE4</td>
			<td>
				SPR4</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				35</td>
			<td>
				&lt; SPARE 5 &gt;</td>
			<td>
				SPARE5</td>
			<td>
				SPR5</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				---</td>
			<td>
				----</td>
		</tr>
	</tbody>
</table>
<p>
	&nbsp;</p>
</div>
					<div style="clear: both; line-height:0px; font-size: 0px;">&nbsp;</div>
				</div>