<div id="wiki-page-content" style="min-height: 364px;">
					<h1>WITS Table 23 (Well Identification)</h1>
					<div class="article-content"><table border="5">
	<tbody>
		<tr>
			<th align="CENTER">
				Item</th>
			<th align="">
				Description</th>
			<th align="">
				Long Mnemonic</th>
			<th align="">
				Short Mnemonic</th>
			<th align="">
				Type</th>
			<th align="">
				Length</th>
			<th align="">
				Metric Units</th>
			<th align="">
				FPS Units</th>
		</tr>
		<tr>
			<td>
				1</td>
			<td>
				Well Identifier</td>
			<td>
				WELLID</td>
			<td>
				WID</td>
			<td>
				A</td>
			<td>
				16</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				2</td>
			<td>
				Sidetrack/Hole Sect No.</td>
			<td>
				STKNUM</td>
			<td>
				SKNO</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				3</td>
			<td>
				Record Identifier</td>
			<td>
				RECID</td>
			<td>
				RID</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				4</td>
			<td>
				Sequence Identifier</td>
			<td>
				SEQID</td>
			<td>
				SQID</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				5</td>
			<td>
				Date</td>
			<td>
				DATE</td>
			<td>
				DATE</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				6</td>
			<td>
				Time</td>
			<td>
				TIME</td>
			<td>
				TIME</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				7</td>
			<td>
				Activity Code</td>
			<td>
				ACTCOD</td>
			<td>
				ACTC</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				8</td>
			<td>
				Well Name</td>
			<td>
				WELLNAME</td>
			<td>
				WELL</td>
			<td>
				A</td>
			<td>
				32</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				9</td>
			<td>
				Well Identification Number</td>
			<td>
				WELLNUM</td>
			<td>
				WNUM</td>
			<td>
				A</td>
			<td>
				16</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				10</td>
			<td>
				Operator</td>
			<td>
				OPERATOR</td>
			<td>
				OPER</td>
			<td>
				A</td>
			<td>
				32</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				11</td>
			<td>
				Well Classification (Lahee)</td>
			<td>
				WELLCLAS</td>
			<td>
				WCLS</td>
			<td>
				A</td>
			<td>
				16</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				12</td>
			<td>
				Well Location</td>
			<td>
				LOCATION</td>
			<td>
				WLOC</td>
			<td>
				A</td>
			<td>
				32</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				13</td>
			<td>
				Well Univ.Tran.Mercator</td>
			<td>
				WELLUTM</td>
			<td>
				WUTM</td>
			<td>
				A</td>
			<td>
				16</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				14</td>
			<td>
				Well Surface Latitude</td>
			<td>
				WELLLAT</td>
			<td>
				WLAT</td>
			<td>
				A</td>
			<td>
				16</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				15</td>
			<td>
				Well Surface Longitude</td>
			<td>
				WELLLON</td>
			<td>
				WLON</td>
			<td>
				A</td>
			<td>
				16</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				16</td>
			<td>
				Field Name</td>
			<td>
				FIELD</td>
			<td>
				FLD</td>
			<td>
				A</td>
			<td>
				32</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				17</td>
			<td>
				Elev : Datum-MSL</td>
			<td>
				ELEVDP</td>
			<td>
				ELDP</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				18</td>
			<td>
				Elev : Kelly Bushing-MSL</td>
			<td>
				ELEVKB</td>
			<td>
				ELKB</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				19</td>
			<td>
				Elev : Ground Level-MSL</td>
			<td>
				ELEVGL</td>
			<td>
				ELGL</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				20</td>
			<td>
				Water Depth (mean)</td>
			<td>
				WATDEPT</td>
			<td>
				WDPM</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				21</td>
			<td>
				Spud Date</td>
			<td>
				SPUDDATE</td>
			<td>
				SPDT</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				22</td>
			<td>
				Custom Field 01 Identifier</td>
			<td>
				CUS1</td>
			<td>
				CUS1</td>
			<td>
				A</td>
			<td>
				32</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				23</td>
			<td>
				Custom Field 02 Identifier</td>
			<td>
				CUS2</td>
			<td>
				CUS2</td>
			<td>
				A</td>
			<td>
				32</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				24</td>
			<td>
				Custom Field 03 Identifier</td>
			<td>
				CUS3</td>
			<td>
				CUS3</td>
			<td>
				A</td>
			<td>
				32</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				25</td>
			<td>
				Custom Field 04 Identifier</td>
			<td>
				CUS4</td>
			<td>
				CUS4</td>
			<td>
				A</td>
			<td>
				32</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				26</td>
			<td>
				Custom Field 05 Identifier</td>
			<td>
				CUS5</td>
			<td>
				CUS5</td>
			<td>
				A</td>
			<td>
				32</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				27</td>
			<td>
				Custom Field 06 Identifier</td>
			<td>
				CUS6</td>
			<td>
				CUS6</td>
			<td>
				A</td>
			<td>
				32</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				28</td>
			<td>
				Custom Field 07 Identifier</td>
			<td>
				CUS7</td>
			<td>
				CUS7</td>
			<td>
				A</td>
			<td>
				32</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				29</td>
			<td>
				Custom Field 08 Identifier</td>
			<td>
				CUS8</td>
			<td>
				CUS8</td>
			<td>
				A</td>
			<td>
				32</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				30</td>
			<td>
				Custom Field 09 Identifier</td>
			<td>
				CUS9</td>
			<td>
				CUS9</td>
			<td>
				A</td>
			<td>
				32</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				31</td>
			<td>
				Custom Field 10 Identifier</td>
			<td>
				CUS0</td>
			<td>
				CUS0</td>
			<td>
				A</td>
			<td>
				32</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				32</td>
			<td>
				Units Type used</td>
			<td>
				UNIT</td>
			<td>
				UNIT</td>
			<td>
				A</td>
			<td>
				8</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				33</td>
			<td>
				Time Zone Offset</td>
			<td>
				TOFFSET</td>
			<td>
				TOFF</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				34</td>
			<td>
				&lt; SPARE 1 &gt;</td>
			<td>
				SPARE1</td>
			<td>
				SPR1</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				35</td>
			<td>
				&lt; SPARE 2 &gt;</td>
			<td>
				SPARE2</td>
			<td>
				SPR2</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				36</td>
			<td>
				&lt; SPARE 3 &gt;</td>
			<td>
				SPARE3</td>
			<td>
				SPR3</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				37</td>
			<td>
				&lt; SPARE 4 &gt;</td>
			<td>
				SPARE4</td>
			<td>
				SPR4</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
	</tbody>
</table>
<p>
	&nbsp;</p>
</div>
					<div style="clear: both; line-height:0px; font-size: 0px;">&nbsp;</div>
				</div>