<div id="wiki-page-content" style="min-height: 364px;">
					<h1>WITS Table 14 (Lagged Continuous Mud Properties)</h1>
					<div class="article-content"><table border="">
	<tbody>
		<tr>
			<th align="CENTER">
				Item</th>
			<th align="">
				Description</th>
			<th align="">
				Long Mnemonic</th>
			<th align="">
				Short Mnemonic</th>
			<th align="">
				Type</th>
			<th align="">
				Length</th>
			<th align="">
				Metric Units</th>
			<th align="">
				FPS Units</th>
		</tr>
		<tr>
			<td>
				1</td>
			<td>
				Well Identifier</td>
			<td>
				WELLID</td>
			<td>
				WID</td>
			<td>
				A</td>
			<td>
				16</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				2</td>
			<td>
				Sidetrack/Hole Sect No.</td>
			<td>
				STKNUM</td>
			<td>
				SKNO</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				3</td>
			<td>
				Record Identifier</td>
			<td>
				RECID</td>
			<td>
				RID</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				4</td>
			<td>
				Sequence Identifier</td>
			<td>
				SEQID</td>
			<td>
				SQID</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				5</td>
			<td>
				Date</td>
			<td>
				DATE</td>
			<td>
				DATE</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				6</td>
			<td>
				Time</td>
			<td>
				TIME</td>
			<td>
				TIME</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				7</td>
			<td>
				Activity Code</td>
			<td>
				ACTCOD</td>
			<td>
				ACTC</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				8</td>
			<td>
				Depth Returns (meas)</td>
			<td>
				DEPTRETM</td>
			<td>
				DRTM</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				9</td>
			<td>
				Depth Returns (vert)</td>
			<td>
				DEPTRETV</td>
			<td>
				DRTV</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				10</td>
			<td>
				Mud Density In (lagd)</td>
			<td>
				MDIL</td>
			<td>
				MDIL</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				KGM3</td>
			<td>
				PPG</td>
		</tr>
		<tr>
			<td>
				11</td>
			<td>
				Mud Density Out (avg)</td>
			<td>
				MDOA</td>
			<td>
				MDOA</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				KGM3</td>
			<td>
				PPG</td>
		</tr>
		<tr>
			<td>
				12</td>
			<td>
				Mud Temperature In (lagd)</td>
			<td>
				MTIL</td>
			<td>
				MTIL</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				DEGC</td>
			<td>
				DEGF</td>
		</tr>
		<tr>
			<td>
				13</td>
			<td>
				Mud Temperature Out (avg)</td>
			<td>
				MTOA</td>
			<td>
				MTOA</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				DEGC</td>
			<td>
				DEGF</td>
		</tr>
		<tr>
			<td>
				14</td>
			<td>
				Mud Conductivity In (lagd)</td>
			<td>
				MCIL</td>
			<td>
				MCIL</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				MMHO</td>
			<td>
				MMHO</td>
		</tr>
		<tr>
			<td>
				15</td>
			<td>
				Mud Conductivity Out (avg)</td>
			<td>
				MCOA</td>
			<td>
				MCOA</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				MMHO</td>
			<td>
				MMHO</td>
		</tr>
		<tr>
			<td>
				16</td>
			<td>
				Hyd.Sulfide Haz.Pot. (avg)</td>
			<td>
				HSHPA</td>
			<td>
				HHPA</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				PPM</td>
			<td>
				PPM</td>
		</tr>
		<tr>
			<td>
				17</td>
			<td>
				Hyd.Sulfide pH (avg)</td>
			<td>
				HSPHA</td>
			<td>
				HPHA</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				18</td>
			<td>
				Hyd.Sulfide pHS (avg)</td>
			<td>
				HSPHSA</td>
			<td>
				HPSA</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				%</td>
			<td>
				%</td>
		</tr>
		<tr>
			<td>
				19</td>
			<td>
				Gas In (lagd)</td>
			<td>
				GASIL</td>
			<td>
				GSIL</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				%</td>
			<td>
				%</td>
		</tr>
		<tr>
			<td>
				20</td>
			<td>
				Gas (avg)</td>
			<td>
				GASA</td>
			<td>
				GASA</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				%</td>
			<td>
				%</td>
		</tr>
		<tr>
			<td>
				21</td>
			<td>
				Gas (max)</td>
			<td>
				GASX</td>
			<td>
				GASX</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				%</td>
			<td>
				%</td>
		</tr>
		<tr>
			<td>
				22</td>
			<td>
				Carbon Dioxide (avg)</td>
			<td>
				CO2A</td>
			<td>
				CO2A</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				PPM</td>
			<td>
				PPM</td>
		</tr>
		<tr>
			<td>
				23</td>
			<td>
				Hydrogen Sulfide (avg)</td>
			<td>
				HSA</td>
			<td>
				HSA</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				PPM</td>
			<td>
				PPM</td>
		</tr>
		<tr>
			<td>
				24</td>
			<td>
				Hydrogen Sulfide (max)</td>
			<td>
				HSX</td>
			<td>
				HSX</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				PPM</td>
			<td>
				PPM</td>
		</tr>
		<tr>
			<td>
				25</td>
			<td>
				&lt; SPARE 1 &gt;</td>
			<td>
				SPARE1</td>
			<td>
				SPR1</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				26</td>
			<td>
				&lt; SPARE 2 &gt;</td>
			<td>
				SPARE2</td>
			<td>
				SPR2</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				27</td>
			<td>
				&lt; SPARE 3 &gt;</td>
			<td>
				SPARE3</td>
			<td>
				SPR3</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				28</td>
			<td>
				&lt; SPARE 4 &gt;</td>
			<td>
				SPARE4</td>
			<td>
				SPR4</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				29</td>
			<td>
				&lt; SPARE 5 &gt;</td>
			<td>
				SPARE5</td>
			<td>
				SPR5</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				---</td>
			<td>
				----</td>
		</tr>
	</tbody>
</table>
<p>
	&nbsp;</p>
</div>
					<div style="clear: both; line-height:0px; font-size: 0px;">&nbsp;</div>
				</div>